[2019-08-23 23:00] jstac opened #82 "Add a lecture on Howard PFI?"
Compare with other methods. For example, in the optimal growth setting, how does it compare to Coleman policy iteration or value function iteration?

[2020-02-02 04:34] jstac opened #81 "New lecture on empirical distributions and density estimation"
This can be added to the "Tools and techniques" section.

We often discuss these topics piecemeal in the middle of other lectures.  For example, nonparametric density estimation comes up quite often.  We should locate all instances and relate them to this lecture.

Topics include empirical distributions and the functional LLN, histograms, violin plots, box and whiskers plots, NPKDEs.

Valuable bec

[2020-02-24 22:48] jstac opened #80 "The basic Melitz model"
https://onlinelibrary.wiley.com/doi/pdf/10.1111/1468-0262.00467

We could start off with a closed economy.  This is a fundamental model.

One possible extension is http://users.ox.ac.uk/~econ0506/Documents/Working/FirmGrowth-Manuscript.pdf

[2020-04-23 02:03] jstac opened #79 "Add commodity pricing model"
It's not hard --- just a reinterpretation of the IFP model.  Since we have that already, it's an easy win, and a useful topic to cover.

[2020-05-12 08:10] Harveyt47 opened #78 "New lecture on income inequality"
New data-centric lecture on changes in income inequality.

One area of interest is how income inequality has changed over time and space. i.e. has income inequality increased in country X over the past 100 years?

This [paper]( https://www.newyorkfed.org/medialibrary/media/research/epr/2019/epr_2019_wage-inequality_abel-deitz.pdf) looks at wage inequality in different areas of the US and does anal

[2020-10-08 03:28] mmcky opened #3 "[wald_friedman] Add lecture once `jupytext` issue sorted out"
The conversion to `ipynb` using `jupytext` has an issue with the following block quotes when they are both in the same file. They work individually!.

[code]

[2020-10-18 11:44] sayaikegawa opened #4 ""Contents" does not work"
Hi @mmcky ,
The code below in md does not work in all lectures.
[code]

( In rst,
[code]
)

For example, in [this lecture](https://python.quantecon.org/geom_series.html),
The netlify version shows like below.
![Screen Shot 2020-10-18 at 10 43 40 pm](https://user-images.githubusercontent.com/44494439/96366426-4a56cf80-1193-11eb-9388-9115dcf9bd98.png)

Whereas, the website shows like below.
![Screen

[2020-10-18 11:56] sayaikegawa opened #5 "Indentation does not work"
Hi @mmcky ,
I'm not quite sure this issue comes from website or netlify, because website shows an indentation for one sentence but the code  indicates an indentation for the next sentence as well.

In this [lecture](https://python.quantecon.org/multi_hyper.html#Usage),
an indentation for normal sentence does not work.

The website shows like below,
![Screen Shot 2020-10-18 at 10 54 13 pm](https://

[2020-10-18 12:18] sayaikegawa opened #6 "The list number does not work"
Hi @mmcky
In this [lecture](https://python.quantecon.org/linear_algebra.html#Solutions), the list number doest not work.

**The website shows like below**
![Screen Shot 2020-10-18 at 11 15 11 pm](https://user-images.githubusercontent.com/44494439/96367148-b0455600-1197-11eb-919e-3b85492a8d43.png)

**But the netlify version shows**

![Screen Shot 2020-10-18 at 11 16 06 pm](https://user-images.githu

[2020-10-18 12:32] sayaikegawa opened #7 "Reference inside of lists does not work"
Hi @mmcky ,
In this [lecture](https://python.quantecon.org/heavy_tails.html#Overview),
the reference links should be inside of lists. (but now it is outside of lists in netlify version.)

**The website shows:**
![Screen Shot 2020-10-18 at 11 30 06 pm](https://user-images.githubusercontent.com/44494439/96367476-c5bb7f80-1199-11eb-96ab-8b33b69f241c.png)
The code in rst
[code]

**But the netlify vers

[2020-10-18 12:42] sayaikegawa opened #8 "Output of code does not work in [Heavy-Tailed Distribution]"
Hi @mmcky ,

In this [lecture](https://python.quantecon.org/heavy_tails.html), all the codes do not show the outputs.

For example,

The website shows
![Screen Shot 2020-10-18 at 11 41 11 pm](https://user-images.githubusercontent.com/44494439/96367725-521a7200-119b-11eb-9e9b-4bdcba1f3f27.png)

But the netlify version shows
![Screen Shot 2020-10-18 at 11 41 46 pm](https://user-images.githubusercont

[2020-10-19 02:25] mmcky commented on #4
thanks @sayaikegawa for reporting these issues. I will work through them this week to resolve.

[2020-10-22 09:57] shlff opened #9 "lecture links in left [Table of Contents] bar fail to work"
Hi @mmcky , the lecture links in the left [Contents] bars of home page and all lecture pages are not working.
- For example, when you click [lecture-python](https://5f8f79757d3634008881552f--nostalgic-wright-5fa355.netlify.app/), we cannot use the lecture links of the left ``Table of Contents`` bar to go to the lecture we want, clicking those links just direct you nowhere but stay at the same webp

[2020-10-29 03:14] mmcky commented on #4
@sayaikegawa I think these are missing across `all` lectures. The new theme supports `contents` on the rhs.

[2020-10-29 03:16] #4 closed

[2020-10-29 03:19] mmcky commented on #5
this has now been fixed in `lecture-python` at the source

[2020-10-29 03:19] #5 closed

[2020-10-29 03:24] mmcky commented on #6
thanks @sayaikegawa - have updated this at the source `rst` as this is incorrect syntax.

https://github.com/QuantEcon/lecture-python/pull/271

[2020-10-29 03:24] #6 closed

[2020-10-29 03:44] mmcky commented on #8
https://5f97827cccb83046f9092346--nostalgic-wright-5fa355.netlify.app/heavy_tails.html#heavy-tails-in-asset-returns

this seems to be working now. Closing.

[2020-10-29 03:44] #8 closed

[2020-10-29 03:45] mmcky commented on #9
@shlff can you check this against: https://5f97827cccb83046f9092346--nostalgic-wright-5fa355.netlify.app/intro.html#

and let me know.

[2020-10-29 03:50] shlff commented on #9
Thanks, @mmcky . Now the links in the left [Table of Contents] work well in the updated website.

[2020-10-29 03:53] mmcky commented on #9
thanks @shlff

[2020-10-29 03:53] #9 closed

[2020-10-29 03:54] mmcky commented on #7
thanks @sayaikegawa -- yup this needs to be fixed.

The `visit_reference` methods aren't compatible with `lists` and `tables` in `sphinx-tomyst`

[2020-10-29 04:03] mmcky commented on #7
This is fixed by https://github.com/executablebooks/sphinx-tomyst/pull/82

[2020-10-29 04:03] #7 closed

[2020-10-30 01:18] mmcky opened #10 "`literalinclude` no longer a viable way to include executable code"
We will need to work out a solution for this.

https://github.com/executablebooks/MyST-NB/issues/274

[2020-11-03 00:35] mmcky opened #12 "[github actions] Look at how to make builds quicker using cache"
Perhaps the best strategy here is to:

1. use `publish.yml` to build a fresh build and upload `_build` as an artifact
2. PR's use that _build folder (from a single source) to speed up builds by downloading the artifact

[2020-12-08 04:24] mmcky opened #13 "[migration] Tasks Required for Migration"
- [x] build lecture-python.notebooks with `sphinx-tojupyter` and compare with current set of download notebooks
- [x] setup `gh-pages`
- [x] review lectures for bugs using `sphinx-tomyst` to build md files

[2020-12-11 03:11] mmcky commented on #3
There is still an issue with double `newlines` at the end of the file -- so need to keep that in mind if updating from `lecture-python`.

Added it back in.

[2020-12-11 03:11] #3 closed

[2020-12-11 03:21] mmcky opened #14 "[execution] Current Sphinx execution warnings"
- [ ] WARNING: Execution Failed: repos-collab/lecture-python.myst/lectures/ifp.md
- [ ] WARNING: Execution Failed: repos-collab/lecture-python.myst/lectures/optgrowth_fast.md
- [ ] WARNING: Execution Failed: /repos-collab/lecture-python.myst/lectures/markov_perf.md
- [ ] WARNING: Execution Failed: /repos-collab/lecture-python.myst/lectures/cake_eating_numerical.md
- [ ] WARNING: Execution Failed:

[2020-12-11 03:26] mmcky commented on #10
This doesn't look like it will get solved quickly.

I wonder if there could be an `option` to loop back from sphinx (for failed notebooks) with updated `myst` source notebooks once these special nodes are parsed?

[2020-12-11 03:53] mmcky commented on #14
These primarily relate to `literalinclude` not being supported in `jupyter-book`

https://github.com/QuantEcon/lecture-python.myst/issues/10

[2020-12-11 20:28] shlff opened #15 "[lecture_comparison]view_source_file_bottom_directs_to_wrong_site"
Good morning @mmcky .

I noticed that the bottom ``view_source_file`` on the top-right-side of the homepage and of each lecture does not direct us to the right GitHub source website (i.e., this repo).

For example, please look at the screenshots of the [homepage](https://quantecon.github.io/lecture-python.myst/intro.html) and lecture [geom_series](https://quantecon.github.io/lecture-python.myst/ge

[2020-12-17 05:37] shlff opened #17 "[lecture_comparison]some_links_in_new_version_lectures_direct_to_older_version_lectures"
Hi @mmcky , @AakashGfude, and @jstac

I noticed an issue in the new-myst-version [lecture-python](https://quantecon.github.io/lecture-python.myst/intro.html) that
- some links (external ref) in new-version lectures direct us back to our old-version lectures instead of the corresponding parts in the new lectures.

For example, the two external reference, ``(see for example this lecture and this lec

[2020-12-20 23:55] mmcky commented on #17
@shlff I think this is likely because the links used are to https://python.quantecon.org/<lecture> which is showing the current `live` site. This will be the future link when these lectures get updated. Can you confirm that is the case in the source file. Thanks.

[2020-12-21 00:49] shlff commented on #17
Thanks @mmcky .

I checked the source file and these links are indeed directing back to lectures of our website: https://python.quantecon.org/.

Please also see the screenshot below:
![Screen Shot 2020-12-21 at 11 44 28 am](https://user-images.githubusercontent.com/53931041/102728908-62f58880-4382-11eb-9c05-f0ea62510500.png)

[2021-01-01 21:17] shlff opened #18 "[lecture_comparison]_clicking_math_will_enlarge_gaps"
Hi @mmcky , I noticed a possible difference/issue in the ``myst`` website:
- once you click any math expression, gaps above and below the expression will be enlarged like the following

e.g., in lecture [mle](https://quantecon.github.io/lecture-python.myst/mle.html), before:
![Screen Shot 2021-01-02 at 8 13 40 am](https://user-images.githubusercontent.com/53931041/103446329-7681e700-4cd2-11eb-94f0

[2021-01-01 21:30] shlff opened #19 "[lecture_comparison]_missing_links_to_previous/next_lectures_at_the_bottom"
Good morning @mmcky , I noticed that in the ``MYST`` lectures,
- we do not have links to previous/next lectures

e.g., in lecture [geom_series](https://quantecon.github.io/lecture-python.myst/geom_series.html) (left: ``MYST``, right: ``RST``),
![Screen Shot 2021-01-02 at 8 26 51 am](https://user-images.githubusercontent.com/53931041/103446484-4fc4b000-4cd4-11eb-94b5-2eec638a2b3c.png)

I know we ha

[2021-01-01 21:56] shlff opened #20 "[lecture_comparison] Issues in footnote notations"
Good morning, @mmcky , I find two issues/differences in footnote notations between ``MYST`` and ``RST`` websites (left: ``MYST``, right: ``RST``):
- the footnote citations in the lecture contexts are without brackets and are not treated as superscript, e.g. in [linear_algebra](https://quantecon.github.io/lecture-python.myst/linear_algebra.html#id2),
![Screen Shot 2021-01-02 at 8 50 18 am](https://

[2021-01-01 23:15] shlff opened #21 "[lecture_comparison]_uncentering_generating/inserted_plots/figures_in_myst"
Hi @mmcky (cc: @jstac), I find
- whatever it is a plot/figure generated by code or inserted directly, the plot/figure in ``MYST`` is located in the left rather than in the center like what we can see in ``RST`` versions.

For example, in lecture [heavy_tails](https://quantecon.github.io/lecture-python.myst/heavy_tails.html) (left: ``MYST``, right: ``RST``), for inserted plots/figures,
![Screen Sho

[2021-01-01 23:29] shlff opened #22 "[lecture_comparison]_no_labels_``In``&``Out``_for_code_cells&its_outputs_in_myst"
Hi @mmcky , I find
- there are no labels ``In``&``Out`` for code cells and its outputs in ``MYST`` versions, but we do have those labels in ``RST`` versions.

For example, in lecture [heavy_tails](https://quantecon.github.io/lecture-python.myst/heavy_tails.html) (left: ``MYST``, right: ``RST``),

![Screen Shot 2021-01-02 at 10 28 37 am](https://user-images.githubusercontent.com/53931041/103447876-

[2021-01-02 22:44] shlff opened #23 "[lecture_comparison] Many code cells are not compiled or are looking strange"
Hi @mmcky , I noticed an important issue in ``MYST`` that
- many code cells are not compiled or just look very strange there

For example, in lecture [cake_eating_numerical](https://quantecon.github.io/lecture-python.myst/cake_eating_numerical.html), almost all code cells have this issue and I label them with red lines.

Please see not compiled code cells:
![Screen Shot 2021-01-03 at 9 40 35 am](h

[2021-01-02 23:36] shlff opened #24 "[lecture_comparison][multivariate_normal] A whole section is missing"
Good morning @mmcky , I find that
- a whole section ``Filtering Foundations`` is missing in ``MYST`` of [8_multivariate_normal](https://quantecon.github.io/lecture-python.myst/multivariate_normal.html) (left: ``MYST``, right: ``RST``)

![Screen Shot 2021-01-03 at 10 28 12 am](https://user-images.githubusercontent.com/53931041/103468567-76efb000-4dae-11eb-94bb-c1d20939f905.png)

[2021-01-02 23:59] shlff opened #25 "[lecture_comparison] Broken internal reference"
Dear @mmcky , I find some internal references in the ``MYST`` are broken.

For example, in lecture [optgrowth_fast](https://quantecon.github.io/lecture-python.myst/optgrowth_fast.html#id2) (left: ``MYST``. right: ``RST``),

![Screen Shot 2021-01-03 at 10 56 56 am](https://user-images.githubusercontent.com/53931041/103468948-9be62200-4db2-11eb-9c27-f7d2a0d9619a.png)

in lecture [34_ifp](https://qua

[2021-01-03 01:17] shlff opened #26 "[lecture_comparison] Images need review for size on Jupyter Book"
Hi @mmcky , I find that some inserted figures/pictures in ``MYST`` are oversized!

For example, in lecture [wald_friedman](https://quantecon.github.io/lecture-python.myst/wald_friedman.html#intuition) (left: ``MYST``, right: ``RST``)
![Screen Shot 2021-01-03 at 12 13 13 pm](https://user-images.githubusercontent.com/53931041/103469773-1c118500-4dbd-11eb-954f-df766ece5d78.png)

in lecture [finite_ma

[2021-01-03 01:43] shlff opened #27 "[lecture_comparison] Numba Deprecation Warnings"
Hi @mmcky (cc: @jstac ), I find an issue about ``NumbaDepreciationWarning`` in some ``MYST`` lectures,
- caused by imports ``from numba import jitclass``

For example, in lecture [wald_friedman](https://quantecon.github.io/lecture-python.myst/wald_friedman.html#intuition) (left: ``MYST``, right: ``RST``),

![Screen Shot 2021-01-03 at 12 21 54 pm](https://user-images.githubusercontent.com/53931041/

[2021-01-03 22:31] shlff opened #28 "[lecture_comparison] An issue for both MyST and RST Versions"
Hi @mmcky (cc: @jstac ), I find an issue existing in both [MYST](https://quantecon.github.io/lecture-python.myst/navy_captain.html) and [RST](https://python.quantecon.org/navy_captain.html) versions of lecture [41_navy_captain]:
- the numbering ``2.`` in a list is compiled as ``1``, please see the following (left: ``MYST``, right:``RST``)

![Screen Shot 2021-01-04 at 9 23 54 am](https://user-image

[2021-01-04 02:04] shlff opened #29 "[lecture_comparison][harrison_kreps] Markdown Tables are Broken in MyST"
Hi @mmcky , I noticed that in lecture [harrison_kreps](https://quantecon.github.io/lecture-python.myst/harrison_kreps.html),
- all tables written using ``markdown`` are broken (left: ``MYST``, right: ``RST``)

For example, please see the following:
![Screen Shot 2021-01-04 at 1 03 22 pm](https://user-images.githubusercontent.com/53931041/103495000-4d598600-4e8d-11eb-943d-95f4b5e09ba4.png)

And als

[2021-01-06 03:15] mmcky commented on #29
thanks @shlff

This is related to https://github.com/executablebooks/sphinx-tomyst/issues/90

[2021-01-06 03:26] mmcky commented on #14
PR #16 fixes this.

[2021-01-06 03:28] #14 closed

[2021-01-06 03:29] mmcky commented on #10
See PR #16

[2021-01-06 03:29] #10 closed

[2021-01-06 03:35] mmcky commented on #15
Thanks @shlff -- this is fixed by: https://github.com/QuantEcon/quantecon-book-theme/pull/77

[2021-01-06 03:35] #15 closed

[2021-01-06 03:37] mmcky commented on #17
Thanks @shlff this won't cause issues once these sources are defined as `python.quantecon.org` links. So I am closing this issue.

[2021-01-06 03:37] #17 closed

[2021-01-06 04:04] mmcky commented on #18
Interesting. I don't think is a big issue but will see what @DrDrij thinks

The HTML is:

[code]

so maybe this is a `mathjax` object thing.

[2021-01-06 04:05] mmcky commented on #19
Thanks @shlff the `next` and `previous` buttons are not part of the current theme. Instead we opted for users to navigate using the `toc` (top left) of the page. We think this will be intuitive enough.

[2021-01-06 04:09] mmcky commented on #20
Nice pickup @shlff I think this needs to be improved upon. (cc: @DrDrij)

This is also related to https://github.com/QuantEcon/quantecon-book-theme/issues/76

[2021-01-06 04:30] mmcky commented on #21
thanks @shlff -- this looks like a `quantecon-book-theme` issue

[2021-01-06 04:32] mmcky commented on #22
This would be changed in `quantecon-book-theme`

They could be added if we want them back.

[2021-01-06 04:33] mmcky commented on #23
Thanks @shlff this should now be fixed by #16

[2021-01-06 04:37] mmcky commented on #24
I think this is likely just a timing issue of the migration

Tom committed this content after the migration: https://github.com/QuantEcon/lecture-python/commit/4b82e74501b880f239442e46309605dd247019e7#diff-289a509772ff83c9ccfa87761af14e945463c072836550793038f5a897175934

- [ ] bring in updated `multivariate_normal` using `sphinx-tomyst` from `lecture-python`

[2021-01-06 04:39] mmcky commented on #25
Thanks @shlff I suspect this was due to those lectures not executing properly. Would you mind to check #16 preview build and see if this is still an issue.

[2021-01-06 04:41] mmcky commented on #26
Thanks @shlff agreed -- this will be an issue across the spectrum.

I have found the following settings to work pretty well and are located in the [QuantEcon Style Guide -- Figure Sizes](https://quantecon.github.io/QuantEcon.manual/writing/styleguide.html#figure-sizes) for matplotlib generated items.

Would you mind reviewing each lecture and submitting a PR with some suggested updates?

[2021-01-06 04:44] mmcky commented on #27
Thanks @shlff that would be great -- please go ahead and update these via PRs. Would you mind to list the lecture level PR's here so that I can then cross check this issue is resolved once we bring the latest files over from `lecture-python`.

[2021-01-06 04:47] mmcky commented on #28
Thanks @shlff I suspect this is because the `math` directive is not indented to be inline with the `list item`. You could try that on `lecture-python` via PR

[2021-01-06 05:10] shlff opened #31 "[lecture_comparison][rational_expectations] \argmax Issue"
Dear @mmcky , I find another issue:
- ``\argmax`` is not compiled in an equation of lecture [rational_expectations](https://quantecon.github.io/lecture-python.myst/rational_expectations.html)

Please see the following (left: ``MYST``, right: ``RST``)
![Screen Shot 2021-01-06 at 3 58 42 pm](https://user-images.githubusercontent.com/53931041/103731610-a9f9a400-5039-11eb-8b31-6c1fa378ba91.png)

[2021-01-06 05:15] mmcky commented on #31
grr -- not that issue again. `\argmax` is my nemisis :-). Thanks @shlff -- it's a `mathjax` configuration issue.

[2021-01-06 11:03] shlff commented on #25
Thanks @mmcky . I checked #16's preview build and find the issue in both lectures [31_optgrowth_fast](https://5ff580ff1bec79c49f4be5b2--nostalgic-wright-5fa355.netlify.app/optgrowth_fast.html#id3) and [34_ifp](https://5ff580ff1bec79c49f4be5b2--nostalgic-wright-5fa355.netlify.app/ifp.html) still exists.

[2021-01-06 11:16] shlff commented on #27
Thanks @mmcky . Should I submit PRs in this repo?

[2021-01-06 11:41] shlff commented on #26
Thanks, @mmcky . This [QE Operation Manual](https://quantecon.github.io/QuantEcon.manual/writing/styleguide.html#figure-sizes) designs standards, which is very helpful for lectures development and exactly what I want to do before. Thank you!

However, I find the figure size settings mentioned by this guide is for code-generating plots only, but not for inserted figures. Do you think we should add

[2021-01-06 12:21] shlff commented on #23
Thanks @mmcky . This issue has been solved for almost all lectures I mentioned above, except for lecture ``36_odu``. Please see the most-recent preview for 36_odu from #16, [here](https://5ff580ff1bec79c49f4be5b2--nostalgic-wright-5fa355.netlify.app/odu.html).

[2021-01-07 02:23] mmcky commented on #25
thanks for checking @shlff -- I have looked at the source and the references were split across two lines

[2021-01-07 02:26] mmcky commented on #27
If the fix can be done before next week then the `rst` repo is the best place for this update.

[2021-01-07 02:29] mmcky commented on #26
@shlff this is hard to do as the source image may vary in size. So this is largely down to `authors` to adjust accordingly. I would recommend using `:scale:` to fill ~0.5-0.7 width of the page in many circumstances

Thanks. This experimentation will need to be done in the `myst` repository as it handles images differently to the `jupinx` approach to image scalling.

[2021-01-07 02:38] mmcky commented on #23
thanks @shlff `odu` wasn't changed in #16 so it must be due to a different issue. Would you have time to review and see why that lecture may not be executing?

[2021-01-08 08:00] sayaikegawa opened #37 "[lecture_comparison]"
Hi @mmcky ,

I found a potential issue about equation references in all lectures. (e.g. [Equation(9.1)](https://quantecon.github.io/lecture-python.myst/time_series_with_matrices.html#equation-tswm-1))

When I click an equation reference in ```MYST```, the referred equation is concealed by the upper menu bar.

This shows a comparison when I click the same equation reference. ( left: ```RST```, righ

[2021-01-08 10:54] mmcky commented on #37
thanks @sayaikegawa (cc: @DrDrij)

[2021-01-11 02:17] shlff commented on #27
Thanks @mmcky . I fix this issue here: https://github.com/QuantEcon/lecture-python/pull/343

[2021-01-11 03:01] shlff commented on #26
Thanks @mmcky . I will create PR to fix this issue in the ``myst`` repo after you finish migrating lectures here.

[2021-01-12 03:13] shlff opened #38 "[lecture_comparison] [re_with_feedback] Strange-looking prints of latex equations generated by code"
Hi @mmcky , I noticed another issue in lecture [re_with_feedback](https://quantecon.github.io/lecture-python.myst/re_with_feedback.html#fun-with-sympy-code):
- the latex math expressions generated by code look very strange or wrong.

For example, please see here (left: ``MYST``, right: ``RST``),

![Screen Shot 2021-01-12 at 2 06 20 pm](https://user-images.githubusercontent.com/53931041/104264657-2

[2021-01-12 03:14] mmcky commented on #38
thanks @shlff -- nice pickup. I wonder if it is displaying the `html` image in preference to the `latex` via mathjax

[2021-01-12 08:13] sayaikegawa opened #39 "[lecture_comparison][FiniteMarkovChains]equation reference numbering issue"
Hi @mmcky ,

I found that the number of equation reference in ```MYST``` does not coincide with that in ```RST``` in lecture 12: [Finite Markov Chains](https://python.quantecon.org/finite_markov.html#Finite-Markov-Chains).

As the screen shot shows, the equation which should be referenced as (12.4) is referenced as (12.5)  in ```MYST```. And there is not an equation which is referenced as (12.4) i

[2021-01-12 08:54] sayaikegawa opened #40 "[lecture_comparison] code-block output issue"
Hi @mmcky ,

I found that code blocks have a label "Out", even though code-block is not the output of any code. This screen shot shows this issue. (left:```RST```, right:```MYST```)

![Screen Shot 2021-01-12 at 7 33 22 pm](https://user-images.githubusercontent.com/44494439/104290573-9bfec400-550e-11eb-84c1-403922fd8567.png)

This issue only happens to a code-block which is written as ```{code-bloc

[2021-01-12 23:17] mmcky commented on #39
thanks @sayaikegawa -- so the text reference is still ok but the numbering is a little different. Is that right?

Does that lecture have a `12.4`?

[2021-01-12 23:26] sayaikegawa commented on #39
Hi @mmcky , yes, that's right.

The lecture does not have ```12.4```.  I have no idea why ```12.4``` is skipped. And VS code seems ok...

[2021-01-12 23:28] mmcky commented on #39
that is strange -- nice pickup @sayaikegawa

[2021-01-12 23:33] mmcky commented on #39
@AakashGfude could you take the lead on this issue re: numbering. Might be part of `sphinx-multitoc-numbering`?

[2021-01-13 00:50] mmcky commented on #40
@sayaikegawa there shouldn't be any `out` markers for the `myst` output. In the above is the left hand side Myst or RST?

[2021-01-13 00:52] mmcky commented on #40
@sayaikegawa I see what you're saying - nice pickup! @AakashGfude under what condition does the `Out` marker get added in `quantecon-book-theme`?

[2021-01-13 01:43] mmcky commented on #37
@DrDrij @AakashGfude  is there a way to improve this issue re: alignment of math links.

[2021-01-13 01:45] mmcky commented on #38
@AakashGfude perhaps this is just an issue with the priorities of which object to use at the `myst-nb` level. Would you mind investigating if `jupyter-book` is pulling an image of the math instead of the latex/mathml for mathjax rendering.

[2021-01-13 01:47] mmcky commented on #23
@shlff is this still an issue?

[2021-01-13 01:47] mmcky commented on #24
@shlff I have updated #16 with the latest sources so I hope this issue can be closed now. Would you mind to check and close (if ok). Thanks.

[2021-01-13 01:49] mmcky commented on #25
re comments in PR this issue is now fixed pending merge of the `manual-adjustment` PR's

[2021-01-13 01:49] #25 closed

[2021-01-13 01:49] #27 closed

[2021-01-13 01:51] mmcky commented on #31
This is fixed in #35 waiting for merge until `rst` is frozen.

[2021-01-13 01:51] #31 closed

[2021-01-13 01:52] mmcky commented on #26
thanks @shlff you can proceed on a `lecture` by `lecture` basis with suggestions for new image sizes now. When you open a PR add `[{{ lecture name}}]` in the tile and add the tag `manual-change` so we don't merge it into `main` yet until `rst` is frozen.

[2021-01-13 01:54] mmcky commented on #29
@shlff we don't have many tables so we may manually fix these rather than wait for implementation in `sphinx-tomyst`. Do you know of any other `tables`?

[2021-01-13 02:38] mmcky opened #44 "[download notebooks] Review of Download Notebooks"
@shlff I have posted the `_notebooks` folder from `gh-pages` here from the latest 2d56ddf

[download-notebooks.zip](https://github.com/QuantEcon/lecture-python.myst/files/5805961/download-notebooks.zip)

It would be great if you could review this collection of notebooks to see if they differ to the current set of notebooks from:

- [ ] python.quantecon.org notebooks
- [ ] and it would be nice to h

[2021-01-13 03:18] shlff commented on #29
Thanks @mmcky . The two tables in lecture [harrison_kreps](https://quantecon.github.io/lecture-python.myst/harrison_kreps.html) are the only two broken in all these ``MYST`` lectures.

[2021-01-13 03:23] shlff commented on #23
Thanks @mmcky . I checked all affected lectures in the most-recent preview from #16 , but this issue still exists in lecture ``36_odu``, please see the most-recent preview from #16 for this lecture: https://5ffe520ba040b2461b6bc742--nostalgic-wright-5fa355.netlify.app/odu.html.

[2021-01-13 03:26] shlff commented on #24
Thanks @mmcky . I checked the preview from #16 and can confirm that this issue has been fixed by #16 .

I will close this issue.

[2021-01-13 03:26] #24 closed

[2021-01-13 23:14] mmcky commented on #44
@shlff here is the archive of notebooks from the current live site `python.quantecon.org/_downloads/ipynb`

[python.quantecon.org-downloadnb.zip](https://github.com/QuantEcon/lecture-python.myst/files/5811472/python.quantecon.org-downloadnb.zip)

To compare these notebooks you may want to get familiar and use a tool called [nbdime](https://github.com/jupyter/nbdime). The documentation has examples

[2021-01-13 23:29] shlff commented on #44
Great thx @mmcky . Those notebooks are really helpful!

I broadly read the doc of ``nbdime``, which is a powerful and useful tool. I will get more familiar with it by comparing our notebooks.

[2021-01-14 03:34] AakashGfude commented on #39
@mmcky @sayaikegawa this block of maths is causing the issue:
[code]

because it has a label, it assumes itself as 12.4, but since it is not a ` ```{math}` myst directive. it does not display it in HTML?

[2021-01-18 00:22] AakashGfude commented on #38
@mmcky  you are right, it is because of the priorities set in `myst_nb`
[code]

In the examples given by shu, the code blocks have `text/latex`, `text/plain`, `image/png` all of them. since `image/png` is at a higher priority, it gets used. We Will need to check why the `png` image is formed in some blocks but not others.

[2021-01-18 00:27] AakashGfude commented on #39
I think a reasonable solution would be to use ` ```{math}` instead here for that block?

[2021-01-18 04:51] sayaikegawa commented on #39
Hi @AakashGfude ,

In MyST document, it says dollar delimited math can have label as follows:
![Screen Shot 2021-01-18 at 3 44 53 pm](https://user-images.githubusercontent.com/44494439/104873221-1e223900-59a4-11eb-8a07-19297280a234.png)

So, I wonder whether the equation has a label or not. Do you mean ```(mc_fdd)=``` is a label?

I'm not sure well but how about getting rid of ```(mc_fdd)=``` & ``

[2021-01-18 05:34] AakashGfude commented on #39
@sayaikegawa just tested it out and the MyST document format works nicely for numbering the equations with `$$`.
which would turn this equation to:
[code]

if we don't want eqn nos. then we can get rid of `(mc_fdd)=` & `(mc_fddv)=`, if that's what we prefer.

[2021-01-18 05:49] sayaikegawa commented on #39
@AakashGfude , I see. Thank you.
I think if we follow the numbering in the current website ```RST```,
the equation
[code]
should be (12.4) instead of
[code]

[2021-01-18 21:59] sayaikegawa opened #45 "[lecture_comparison][16_Kasten_Processes]redundant_output"
This is a minor issue that the output in```MyST``` is redundant like below. (left: ```RST``` right: ```MyST```)
![Screen Shot 2021-01-19 at 8 57 07 am](https://user-images.githubusercontent.com/44494439/104966210-6ee17280-5a34-11eb-8f45-8be5ef212096.png)

[2021-01-18 22:42] sayaikegawa opened #46 "[lecture_comparison][21_Cass-Koopmans]SyntaxWarning"
In [21_Cass-Koopmans](https://python.quantecon.org/cass_koopmans_2.html), SyntaxWarning occurs in ```MyST```. The syntax ```is``` causes this warning like below.

![Screen Shot 2021-01-19 at 9 35 30 am](https://user-images.githubusercontent.com/44494439/104968572-4f4d4880-5a3a-11eb-8003-2249865ce212.png)

cc: @mmcky

[2021-01-18 23:09] mmcky commented on #39
thanks @sayaikegawa and @AakashGfude it would be good to match the current live site for numbering (assuming that is correct).

[2021-01-19 00:10] #40 closed

[2021-01-19 00:45] sayaikegawa opened #47 "[lecture_comparison]redundant_space_in_code"
This is a minor issue that there is redundant space in some code blocks like below:

![Screen Shot 2021-01-19 at 11 33 08 am](https://user-images.githubusercontent.com/44494439/104974001-a5c28300-5a4a-11eb-8963-74ed097884d5.png)

This issues seem to occur for the codes which is imported from ```/_static/lecture_specific/```.

For example, in the above case, VS code display like below:
In ```RST```

[2021-01-19 06:26] sayaikegawa opened #48 "[lecture_comparison][38_wald_friedman]math_expression_in_indented_sentence"
In [this lecture](https://python.quantecon.org/wald_friedman.html), the math equation in the quotes shows redundant ```>``` at the beginning and the ending of the equation like below.
Left: ```RST``` Right: ```MyST```

![Screen Shot 2021-01-19 at 5 12 48 pm](https://user-images.githubusercontent.com/44494439/104995333-3cf2ff00-5a7a-11eb-8d62-1ac36a76b2fd.png)

Here is the place where this issue oc

[2021-01-19 08:00] sayaikegawa opened #49 "[lecture_comparison]math_size_in_headings"
This is a minor issue that math expressions in headings is too small in ```MyST```. I wonder whether there is any solution for this.

The example is: (Left: ```RST```, Right: ```MyST```.)

![Screen Shot 2021-01-19 at 6 55 45 pm](https://user-images.githubusercontent.com/44494439/105004771-85b1b480-5a88-11eb-95ff-ad512e86809f.png)

cc: @mmcky

[2021-01-19 17:47] #28 closed

[2021-01-20 03:41] sayaikegawa opened #50 "[lecture_comparison][55_pandas_panel]output_is_different"
This is an issue that output plotting shows differently in [this lecture.](https://python.quantecon.org/pandas_panel.html)
Especially, the plot in ```MyST``` does not have a label but the plot in ```RST``` has like below. I cannot see any difference in the input code.

Left: ```RST``` Right:```MyST```

![Screen Shot 2021-01-20 at 2 34 34 pm](https://user-images.githubusercontent.com/44494439/10512

[2021-01-22 07:57] sayaikegawa commented on #48
This happens in ```lecture-python-advanced``` too. [#16](https://github.com/QuantEcon/lecture-python-advanced.myst/issues/16)

[2021-01-22 07:58] sayaikegawa commented on #49
This issue occurs in [lecture-python-advanced](https://github.com/QuantEcon/lecture-python-advanced.myst) too.

[2021-01-22 12:18] shlff commented on #44
Thanks @mmcky . I almost finished comparing these notebooks.

Should I report these possible difference issues I found
- as comments in this issue or
- as issues in the issue tracker of this repository?

[2021-01-22 20:09] mmcky commented on #44
thanks @shlff -- separate issues would be great. Can you also add `[downloadnb-comparison]` to the title to help me with the context. Thanks for your help.

[2021-01-27 02:00] shlff opened #51 "[downloadnb-comparison] QE brand missing in all MYST downloadnbs"
Hi @mmcky , the first issue I noticed by comparing downloadable notebooks from ``RST`` and ``MYST`` is that
- the QuantEcon brand is missing in all notebooks from ``MYST``

For example, please find a screenshot for lecture ``02_multi_hyper`` (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 12 58 13 pm](https://user-images.githubusercontent.com/53931041/105931461-5fe76980-609f-11eb-93

[2021-01-27 02:19] shlff opened #52 "[downloadnb-comparison] Math Processing Error in many lectures"
Hi @mmcky , the second issue I find is
- there are many math processing errors in both versions (``RST`` and ``MYST``) of lots of lectures.

For example, please find a screenshot for lecture ``04_linear_algebra`` (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 1 05 40 pm](https://user-images.githubusercontent.com/53931041/105933103-fae14300-60a1-11eb-8cc3-918fee997e08.png)

This iss

[2021-01-27 02:40] shlff opened #53 "[downloadnb-comparison] all ``Footnote`` title missing in MYST downloadnb"
Hi @mmcky , the third problem I find is that
- all ``MYST`` lectures with footnotes do not have the title ``Footnote``

For example, please find a screenshot for lecture ``04_linear_algebra`` (left: ``RST``, right: ``MYST``):
![Screen Shot 2021-01-27 at 1 31 33 pm](https://user-images.githubusercontent.com/53931041/105934305-0cc3e580-60a4-11eb-93aa-ac6873e74c6a.png)

The same issue occurs in all l

[2021-01-27 02:48] shlff opened #54 "[downloadnb-comparison] external links in footnotes not working in both RST and MYST notebooks"
Hi @mmcky , the 4th issue I find is
- external links in footnotes are not working in both ``RST`` and ``MYST`` versions of all notebooks with footnotes.

For example, please find a screenshot for lecture ``04_linear_algebra`` (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 1 44 36 pm](https://user-images.githubusercontent.com/53931041/105935314-de470a00-60a5-11eb-8166-d05451bf3ef2.p

[2021-01-27 03:20] shlff opened #55 "[downloadnb-comparison] problematic latex math symbols in both-version notebooks"
Hi @mmcky , the 5th issue I find is
- some latex math symbols, including $\sqrt$, $\bar$, or other superscripts or the letter below those symbols, or some subscripts, etc., are extremely higher or extremely lower than the main latex math expressions.

For example of extremely high $\bar$ or superscripts, please find a screenshot for lecture ``05_complex_and_trig`` (left: ``RST``, right: ``MYST``):

[2021-01-27 03:45] shlff opened #56 "[downloadnb-comparison] abnormal small latex brackets in both-version lectures"
Hi @mmcky , the 6th issue I noticed is
- the latex brackets for vectors or matrices are extremely small in notebooks from both-version lectures.

For example, please find a screenshot for lecture ``04_linear_algebra`` (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 2 44 05 pm](https://user-images.githubusercontent.com/53931041/105939881-341fb000-60ae-11eb-93c5-d4be21bf05af.png)

[2021-01-27 04:49] shlff opened #57 "[downloadnb-comparison] [04_linear_algebra] a sentence is missing in MYST"
Hi @mmcky , I noticed the following sentence is missing in lecture ``04_linear_algebra``:
- ``The solution is known to be $ \hat x = (A'A)^{-1}A'y $ — see for example chapter 3 of <a href=_static/lecture_specific/linear_algebra/course_notes.pdf download>these notes</a>.``

Please find a screenshot for the corresponding place of lecture ``04_linear_algebra`` (left: ``RST``, right: ``MYST``):

![Scr

[2021-01-27 04:59] shlff opened #58 "[downloadnb-comparison] [05_complex_and_trig] SymPyDeprecationWarning in both RST and MYST"
Good afternoon, @mmcky , I find a ``SymPyDeprecationWarning`` in both notebooks of ``MYST`` and ``RST`` and ``MYST``-website lecture [05_complex_and_trig](https://quantecon.github.io/lecture-python.myst/complex_and_trig.html).

Please find a screenshot for the corresponding place of lecture ``05_complex_and_trig`` (left: ``RST``, right: ``MYST``):
![Screen Shot 2021-01-27 at 3 55 27 pm](https://us

[2021-01-27 05:10] shlff opened #59 "[downloadnb-comparison] [08_multivariate_normal] problematic inserted latex math"
Hi @mmcky , I noticed the following issue in both the notebook and the website of ``MYST`` lecture [08_multivariate_normal](https://quantecon.github.io/lecture-python.myst/multivariate_normal.html):
- ``‘math:x`` should be $x$.

Please find a screenshot for the corresponding place of lecture ``08_multivariate_normal`` (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 4 00 21 pm](https

[2021-01-27 05:31] shlff opened #60 "[downloadnb-comparison] [14_linear_models] a sentence disappears in MYST"
Hi @mmcky , I find the following sentence is missing in ``MYST`` notebook of lecture [14_linear_models](https://quantecon.github.io/lecture-python.myst/linear_models.html#conditions-for-stationarity):
- ``This is the *globally stable case* — see <ahref=_static/lecture_specific/linear_models/iteration_notes.pdfdownload>these notes</a> for more a theoretical treatment.``

Please find a screenshot fo

[2021-01-27 05:37] shlff opened #61 "[downloadnb-comparison] [19_short_path] a link issue"
Hi @mmcky , I noticed that following issue in lecture [19_short_path](https://quantecon.github.io/lecture-python.myst/short_path.html)  (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 4 36 08 pm](https://user-images.githubusercontent.com/53931041/105947763-d2674200-60bd-11eb-872a-d43cfbc5c369.png)

Do you think it is a good idea for me to create a PR to fix this issue manually in th

[2021-01-27 05:50] shlff opened #62 "[downloadnb-comparison] [21_cass_koopmans_2] SyntaxWarning"
Hi @mmcky , I find the following ``SyntaxWarning`` in lecture [21_cass_koopmans_2](https://quantecon.github.io/lecture-python.myst/cass_koopmans_2.html) (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 4 48 35 pm](https://user-images.githubusercontent.com/53931041/105948717-8cab7900-60bf-11eb-8716-fe600d6f9397.png)

![Screen Shot 2021-01-27 at 4 51 08 pm](https://user-images.githubus

[2021-01-27 06:08] shlff opened #63 "[downloadnb-comparison] [27_jv] A quoted code cell becomes a compiling code cell in MYST downloadnb"
Hi @mmcky , I find an issue in lecture [27_jv](https://quantecon.github.io/lecture-python.myst/jv.html#exercises):
- A quoted code cell becomes a compiling code cell in ``MYST`` notebook.

Please find a screenshot for the corresponding place of lecture ``27_jv`` (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 5 07 56 pm](https://user-images.githubusercontent.com/53931041/105950304-4

[2021-01-27 06:32] shlff opened #64 "[downloadnb-comparison] [37_likelihood_ratio_process] a link is problematic"
Hi @mmcky , the following link to ``Neyman-Pearson Lemma`` in [37_likelihood_ratio_process](https://quantecon.github.io/lecture-python.myst/likelihood_ratio_process.html#likelihood-ratio-test) can be problematic:
- https://en.wikipedia.org/wiki/Neyman%E2%80%93Pearson_lemma

which is https://en.wikipedia.org/wiki/Neyman–Pearson_lemma in ``RST`` version.

Please find a screenshot for the correspondi

[2021-01-27 10:53] shlff opened #65 "[downloadnb-comparison] [57_mle] an internal link/ref of contents is not working"
Hi @mmcky , the following internal link/ref of contents in lecture ``57_mle`` is not working in both versions (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 9 50 16 pm](https://user-images.githubusercontent.com/53931041/105981360-17a16900-60ea-11eb-9732-0adc197dc1d2.png)

[2021-01-27 11:17] shlff opened #66 "[downloadnb-comparison] different numbering system for math tags and their citations in contexts"
Hi @mmcky , I noticed that in all ``MYST`` notebooks/website lectures:
- math tags and their citations in context use two different kinds of numbering systems.

For example, please find a screenshot for lecture ``03_sir_model`` (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-01-27 at 10 11 10 pm](https://user-images.githubusercontent.com/53931041/105983581-158cd980-60ed-11eb-90b2-3cbbbd7edbf

[2021-02-01 23:36] mmcky commented on #51
thanks @shlff -- nice pickup.

I suspect this is due to not passing through raw `html` nodes.

[2021-02-01 23:37] mmcky commented on #52
thanks @shlff. Is the math actually contained if you double click on the cell?

[2021-02-01 23:38] mmcky commented on #53
thanks @shlff -- the `visit_footnote` node will need to be checked

[2021-02-01 23:39] mmcky commented on #54
thanks @shlff -- looks like markdown isn't rendered in the list -- is the link formed over two lines? If you edit the notebook can you get the link to work. If so please add solution here.

[2021-02-01 23:40] mmcky commented on #55
thanks @shlff looks like an issue in both. Can you edit the notebook to see if you can fix this and then document what the `markdown cell` should contain.

[2021-02-02 00:05] mmcky commented on #57
thanks @shlff -- nice pickup. Any ideas looking at the source what might be causing this? Is it in the `rst` and `md` file?

[2021-02-02 00:05] mmcky commented on #56
@shlff can you try and fix this in the notebook and post what the output should be to get this rendering in the notebook properly?

[2021-02-02 00:07] mmcky commented on #58
@shlff does this show up in the `html` as well? Please submit a PR to fix if you can.

[2021-02-02 00:15] mmcky commented on #59
@shlff would you mind posting what the `md` syntax is here. This might an issue we should fix in `sphinx-tomyst` if inline math isn't working in nested list contexts properly

[2021-02-02 00:17] mmcky commented on #61
@shlff this looks like the `md` link is split across lines? If there is incorrect `RST` at the source please go ahead and make a PR. Thanks.

[2021-02-02 00:18] mmcky commented on #62
@shlff yes please -- that would be great to get rid of these warnings.

[2021-02-02 00:19] mmcky commented on #63
thanks @shlff -- do you mind posting what the `rst` and `md` sources are to see why this is getting converted to a cell-block. thanks.

[2021-02-02 00:24] mmcky commented on #64
@shlff can you change that in the source `rst` file? Or is the `%` getting added by the translation process?

[2021-02-02 00:59] mmcky commented on #65
@shlff where is the link trying to resolve to when you double click the `markdown` cell in the notebook?

[2021-02-02 01:00] mmcky commented on #66
Does the new numbering system match the `html` version?

[2021-02-02 01:25] shlff commented on #66
Thanks @mmcky . In the ``MYST``-version notebooks (please see the right side of the screenshot above),
- the numbering system for **citations** in the contexts **matches** the ``MYST``-version ``html`` files (e.g., the ``(1.2)`` as I circled),
- the numbering system for **math expressions** does **not match** the ``MYST``-version ``html`` files (e.g., the ``(2)`` as I circled).

[2021-02-02 07:14] AakashGfude opened #69 "Issues encountered when using `jupyterbook_latex`"
The present set of issues with `jupyterbook_latex` are only concerning maths symbols, outlined below:
1. `\gt` `\mathscr` symbol is not recognized by latex, which is causing compilation error. (example of its usage: https://github.com/QuantEcon/lecture-python.myst/blob/main/lectures/cake_eating_problem.md#the-model, https://github.com/QuantEcon/lecture-python.myst/blob/main/lectures/coleman_policy

[2021-02-02 23:30] #59 closed

[2021-02-03 02:27] shlff commented on #52
Thanks, @mmcky . The math is actually contained.

I double-checked them again and I find the Math Processing Errors have been fixed.

[2021-02-03 02:41] shlff commented on #54
Thanks @mmcky . Please see the whole part of this footnote
[code]

It seems that the link does not form over two lines.

[2021-02-03 02:45] shlff commented on #55
Thanks, @mmcky . I checked the notebooks again and surprised to find the appearance of these math symbols are normal now.

[2021-02-03 02:47] shlff commented on #56
Thanks @mmcky . I checked the notebooks again and surprised to find the appearance of these brackets are normal now.

[2021-02-03 02:48] shlff commented on #57
Thanks @mmcky . This is in the notebook generated from the ``md`` file.

[2021-02-03 04:52] AakashGfude commented on #69
PR's merged.

[2021-02-03 05:29] shlff commented on #58
Yes, @mmcky . It also shows up in the ``html`` generated by ``md``, and please see here: https://quantecon.github.io/lecture-python.myst/complex_and_trig.html

I will create a PR in this repo to fix it.

[2021-02-03 07:38] sayaikegawa opened #73 "[jupyterbook-latex]chapter_number"
Hi @AakashGfude , I'm not able to add a label for some reason so I write it in title.

This is a minor issue about a description of chapter number.

In ```jupyter-book```, chapter number is written both in digit and word. It may be better to make it consistent about description.

Left:```jupyter-book``` Right: ```website```
![Screen Shot 2021-02-03 at 6 30 33 pm](https://user-images.githubusercont

[2021-02-03 07:55] shlff commented on #63
Thanks @mmcky . Please look at a screenshot of the corresponding parts of the ``rst`` and ``md`` sources (left: ``RST``, right: ``MYST``):

![Screen Shot 2021-02-03 at 6 52 39 pm](https://user-images.githubusercontent.com/53931041/106715555-5175f080-6651-11eb-8257-f474b948fef0.png)

[2021-02-03 08:04] shlff commented on #64
Thanks @mmcky , the link in the source ``rst`` file is https://en.wikipedia.org/wiki/Neyman%E2%80%93Pearson_lemma.

It seems that the ``%`` is added by the translation process.

[2021-02-03 08:22] shlff commented on #65
@mmcky , the link is trying to resolve to section [Maximum Likelihood Estimation with `statsmodels`](https://quantecon.github.io/lecture-python.myst/mle.html#maximum-likelihood-estimation-with-statsmodels) of lecture ``57_mle``.

Please see the following code:
- ``[Maximum Likelihood Estimation with `statsmodels`](#Maximum-Likelihood-Estimation-with-`statsmodels`)``

[2021-02-03 09:23] sayaikegawa opened #74 "[jupyterbook-latex]beta is not compiled properly"
Hi @AakashGfude ,

β sometime is not compiled properly in pdf like below.
Left```jupyter-book``` Right```website```

![Screen Shot 2021-02-03 at 7 10 26 pm](https://user-images.githubusercontent.com/44494439/106725977-06160f00-665e-11eb-9b8b-604fe29c4c8c.png)

In [this lecture](https://python.quantecon.org/mccall_model.html), β is not compiled properly only when ```β```  is used in non code-block

[2021-02-03 09:47] sayaikegawa opened #75 "[jupyterbook-latex]inserted graphs' layout"
Hi @AakashGfude ,

This is an issue that inserted graphs are shown in different places as follows.
Left:```jupyter-book``` Right:```website```

![Screen Shot 2021-02-03 at 8 40 52 pm](https://user-images.githubusercontent.com/44494439/106728892-082d9d00-6661-11eb-8e1e-b00e922faf06.png)

[2021-02-04 02:23] #69 closed

[2021-02-05 00:01] AakashGfude commented on #74
Thanks @sayaikegawa , have added handling of β with this PR https://github.com/executablebooks/jupyterbook-latex/pull/32 .
Will keep an eye for other greek characters as well.

[2021-02-05 02:40] AakashGfude commented on #75
Hey @sayaikegawa thanks for pointing this out.

Actually, this is not an issue, as the image would have been placed in the same place if there was space for it.  But since in the left document, there is not enough space for that image to be there. It is instead replaced by text as it would have resulted in a large blank space which will not look good.

For cases, where there is enough space to inc

[2021-02-05 02:41] AakashGfude commented on #75
feel free to close the issue if you are satisfied with the answer :) let me know if you have any queries regarding this.

[2021-02-05 03:55] AakashGfude commented on #73
Thanks @sayaikegawa  for raising this one. This is actually the default style added by sphinx, which uses a package called `fancychap` to styles chapter headers. We can either use one of the styles provided by the package or customize it to suit our needs(which will take a bit more effort) .

For the list of header styles provided by this package. Refer to chapter 3 of the pdf which I have attache

[2021-02-05 09:50] sayaikegawa commented on #73
Thank you @AakashGfude . There are so many options...

Hi @jstac ,
As my comment above, I found that the expressions of chapter number are different in "footer" and "chapter title" of ```jupyterbook-pdf``` (digit in "footer", word in "chapter title"). I just wonder whether it is ok or not. If it is fine, I'll close this issue. But if not, could you pick a "chapter style" to use from the link in Aa

[2021-02-05 09:52] sayaikegawa commented on #75
Thank you @AakashGfude . I understand and close this issue.

[2021-02-05 09:52] #75 closed

[2021-02-05 09:55] sayaikegawa commented on #74
Thanks @AakashGfude .

[2021-02-05 09:55] #74 closed

[2021-02-05 11:11] sayaikegawa opened #76 "[jupyterbook-latex]math signal"
Hi @AakashGfude ,
I found that some math signals in ```jupyterbook-pdf``` are a little strange.
Here are the signals I found strange.
Left:```jupyterbook-latex``` Right:```website```
![Screen Shot 2021-02-05 at 9 34 01 pm](https://user-images.githubusercontent.com/44494439/107026492-e1a56880-67fe-11eb-9de5-43e4f3d752cf.png)
![Screen Shot 2021-02-05 at 9 53 27 pm](https://user-images.githubusercont

[2021-02-08 03:42] mmcky commented on #45
thanks @sayaikegawa -- this might be less of an issue once `quantecon-book-theme=0.1.2` which fixes the background colors. Let's review once that new release is out. (cc: @AakashGfude)

[2021-02-08 03:45] mmcky commented on #46
thanks @sayaikegawa -- would you mind opening a PR on the `rst` directory to update this from `is` to `==`?

[2021-02-08 03:46] mmcky commented on #46
I seem to remember seeing a PR about this change but I can't seem to find it.

[2021-02-08 03:49] mmcky commented on #47
thanks @sayaikegawa -- the issue is excess newlines in the actual source file `cd_analytical`. Can you submit a PR on the `rst` repository to address this?

[2021-02-08 03:52] mmcky commented on #48
thanks @sayaikegawa are you suggesting then we should have:

[code]

as the syntax? -- I find that an odd choice. I may need to talk with `Jupyter Book` about this.

[2021-02-08 03:56] mmcky commented on #48
Nice pickup! this will be useful for the broader `juptyer-book` project as I think it should be capable of rendering the former syntax. If we could get a minimal example working in `jupyter-book` that would be super helpful.

[2021-02-08 03:57] mmcky commented on #49
thanks @sayaikegawa -- another nice pickup.

@AakashGfude @DrDrij is this a theme controlled element (math size in titles)?

[2021-02-08 04:00] mmcky commented on #50
nice pickup @sayaikegawa. We will need to look into why these labels are dropped from `jupyter-book`. I suspect `seaborn` returns a javascript object that may have placed the labels somewhere else?

[2021-02-08 04:03] mmcky commented on #73
thanks @sayaikegawa and @AakashGfude.

Given the information content is the same I will tag this as `low` priority but this is a great `style` question about whether the default should match between `html` and `pdf`

[2021-02-08 04:04] mmcky commented on #76
thanks @sayaikegawa -- is this just a rendering issue. Is the `tex`/`html`/`md` the same between these two comparisons?

@AakashGfude let me know if you need my input on this.

[2021-02-08 04:07] mmcky commented on #46
https://github.com/QuantEcon/lecture-python.myst/pull/72

[2021-02-08 04:50] mmcky commented on #63
thanks @shlff  -- I am surprised the `code-block` get's converted to a code cell as I thought `myst-nb` and `jupytext` only converted `code-cell` directives. Will need to look into this.

- [ ] setup a myst `md` file with a `code-block` and `code-cell` with `jupytext` headers to see how it converts to notebooks.

[2021-02-08 04:54] sayaikegawa commented on #47
Thanks @mmcky , I'll create PRs.

[2021-02-08 06:01] mmcky commented on #66
ohh - thanks @shlff I see the real issue here now.

I suspect that `sphinx-tojupyter` is using its own `numbering` when writing `\tag{}` as we did in `jupinx` rather than using the internal `sphinx` values.

[2021-02-08 06:03] mmcky commented on #52
Huh -- you mean this issue is resolved?  I wonder what changed :-).

[2021-02-08 06:05] mmcky commented on #54
@shlff would you mind copying the notebook here? Your right -- not split over lines. I wonder why jupyter isn't picking up the link in that context.

[2021-02-08 06:06] mmcky commented on #55
Thanks @shlff -- if this is resolved can you close the issue. Thanks.

[2021-02-08 06:07] mmcky commented on #56
@shlff sounds like `mathjax` wasn't loading for you on the day you reviewed. Can you review these and close the necessary issues. Thanks.

[2021-02-08 06:08] mmcky commented on #57
thanks @shlff -- looks like the `only` directive isn't getting included by `jupyter-book`

[2021-02-08 06:10] mmcky commented on #64
thanks @shlff

[2021-02-08 06:12] mmcky commented on #65
- [ ] must be an issue in `sphinx-tojupyter`

[2021-02-08 10:46] AakashGfude commented on #76
Thanks @mmcky and @sayaikegawa , it was a rendring issue of pdf. due to lack of proper handling of unicode chars in math.

[2021-02-08 23:00] mmcky opened #77 "FIX: Setup commit as a PR with manual-change tag"
@AakashGfude this should be setup as a PR with a `manual-change` tag

f2d639980a41dfa2823d69838179df08fd60ea1e

otherwise can we fix this in the source `rst` repository?

[2021-02-08 23:41] #58 closed

[2021-02-09 00:06] #62 closed

[2021-02-09 00:15] shlff commented on #52
I didn't change anything @mmcky . Yep, I guess so.

Thanks for your time and I will close it.

[2021-02-09 00:15] #52 closed

[2021-02-09 00:21] shlff commented on #54
Sure @mmcky . Please find the [notebook here](https://python.quantecon.org/_downloads/ipynb/linear_algebra.ipynb).

[2021-02-09 00:22] shlff commented on #55
Thanks @mmcky . This issue has been solved and I will close this issue.

[2021-02-09 00:23] shlff commented on #56
Thanks @mmcky . You are right and now I can confirm that this issue has gone.

I will close this issue.

[2021-02-09 00:23] #56 closed

[2021-02-09 00:23] #55 closed

[2021-02-09 01:14] jstac opened #83 "speed/accuracy comparisons using glue functionality"
Once we switch over to myst-nb / jupyter-book, the glue functionality will be idea for cross-lecture numerical comparisons involving solution methods for dynamic programming.

https://myst-nb.readthedocs.io/en/latest/use/glue.html

For example, in our discussion of the optimal growth model and elsewhere, we compare different algorithms in different lectures.  To compare execution speed without rep

[2021-02-09 01:30] mmcky commented on #54
hey @shlff it looks like the leading `html` causes the `jupyter notebook` to not parse the paragraph as `markdown`

Perhaps we should use:

[code]

[2021-02-09 01:32] mmcky commented on #54
Actually we should probably update `sphinx-tojupyter` to use `markdown`

[code]

[2021-02-09 02:13] shlff commented on #54
I love the 2nd change, @mmcky . Do you think we should manually update the leading in footnotes of all lectures with markdown?

[2021-02-09 02:20] mmcky commented on #54
This will need to be done in `sphinx-tojupyter` as the `download notebook` is generated from the source.

[2021-02-09 04:27] #76 closed

[2021-02-09 04:52] mmcky opened #85 "[ODU] Execution not Working on Github Actions"
The following lectures are not currently executing:

- [ ] odu.md

will need to review and fix these (after identifying cause)

[2021-02-09 05:02] mmcky commented on #85
i suspect the install from `code-from-file` branch isn't working as expected

[2021-02-09 10:15] #46 closed

[2021-02-09 10:57] sayaikegawa commented on #50
Hi @mmcky ,
When I checked other netlify [link](https://5ff7a26be9c8c33aeed56e94--nostalgic-wright-5fa355.netlify.app/pandas_panel.html) from #35. It is fixed.
But when I check , for example, [the link](https://60222540d6d9827016dd688d--nostalgic-wright-5fa355.netlify.app/pandas_panel.html) from recent merged #86, it is not fixed.

[2021-02-09 22:31] mmcky commented on #50
thanks @sayaikegawa this is an odd issue. I am also confused :-). I will leave this open and we can revisit it once we merge in the PR's to see if the issue remains.

[2021-02-09 22:37] #47 closed

[2021-02-10 01:21] mmcky commented on #85
fixed by 9a791ca

the lecture was timing out due to config setting limit of `60seconds`

[2021-02-10 01:21] #85 closed

[2021-02-10 01:22] mmcky commented on #23
`odu` execution was timing out. This should now be fixed by 9a791ca

[2021-02-10 01:22] #23 closed

[2021-02-10 01:25] mmcky commented on #29
thanks @shlff will be fixed by https://github.com/QuantEcon/lecture-python.myst/pull/30

[2021-02-10 01:25] #29 closed

[2021-02-10 01:26] mmcky commented on #38
thanks @AakashGfude should we promote `text/latex` do you think?

[2021-02-10 02:52] mmcky commented on #39
@sayaikegawa @AakashGfude I suspect this is due to the mix of `targets` that are being specified. I have opened https://github.com/QuantEcon/lecture-python/pull/367 which will hopefully fix this issue by removing some `link targets` that are unused.

[2021-02-10 03:10] mmcky commented on #48
@sayaikegawa can you put together a PR to fix this and tag it as `manual-change`. Thanks!

[2021-02-10 03:13] mmcky commented on #57
@shlff here is the list of all `only` directives used in the lectures.

lectures/aiyagari.md:```{only} html
lectures/aiyagari.md:```{only} latex
lectures/linear_algebra.md:```{only} html
lectures/linear_algebra.md:```{only} latex
lectures/linear_models.md:```{only} html
lectures/linear_models.md:```{only} latex
lectures/mle.md:```{only} html
lectures/mle.md:```{only} latex

would you mind checking

[2021-02-10 03:14] mmcky commented on #60
@shlff I suspect this is also due to `only` directive usage.

[2021-02-10 03:58] mmcky commented on #60
@shlff would you mind to take a look to see if we really `need` these `only` directives between `html` and `latex`. Maybe with the `jupyter-book` system we can get rid of this distinction and just link the same document using markdown. What do you think?

[2021-02-10 05:23] shlff commented on #57
Thanks @mmcky . I checked all the corresponding places just now and I can confirm that the ``only`` directives are broken in the ``myst``-version of following lectures:
- [aiyagari](https://github.com/QuantEcon/lecture-python.myst/blob/main/lectures/aiyagari.md),
- [linear_algebra](https://github.com/QuantEcon/lecture-python.myst/blob/main/lectures/linear_algebra.md),
- [linear_models](https://git

[2021-02-10 05:29] shlff commented on #60
Thanks @mmcky . I agree with you. If we use markdown and jupyterbook, then we don't need ``only`` directive to distinguish HTML and latex.

[2021-02-10 08:17] mmcky commented on #60
When you're ready could you make a PR on `lecture-python.myst` to remove the `only` directives and then mark that PR with `manual-change` so we don't merge it.

[2021-02-10 17:30] shlff opened #87 "[jupyterbook-latex] no input/output labels for python-cell"
Hi @AakashGfude and @mmcky , the first issue/difference between PDFs generated by ``rst`` and ``myst`` is that
- there is no input/output labels for python-cell of PDFs generated by ``myst`` files.

For example, please see here (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``):

![Screen Shot 2021-02-11 at 4 29 13 am](https://user-images.githubusercontent.com/53931041/107547629-

[2021-02-10 17:38] shlff opened #88 "[jupyterbook-latex] [wald_friedman] an inserted figure missing in both PDFs generated by myst and rst"
Hi @AakashGfude and @mmcky , the 2nd issue I noticed is that in lecture [wald_friedman](https://python.quantecon.org/wald_friedman.html) both PDFs generated by ``myst`` and ``rst``
- an inserted figure is missing.

Please see (top left: PDFs generated by ``rst``, top right: PDFs generated by ``myst``, bottom: website):

![Screen Shot 2021-02-11 at 4 35 59 am](https://user-images.githubusercontent.

[2021-02-10 17:49] shlff opened #89 "[jupyterbook-latex] [wald_friedman] extra > symbols in a math expression"
Hi @AakashGfude and @mmcky, the 3rd issue is that in lecture [wald_friedman](https://python.quantecon.org/wald_friedman.html)
- there are extra $>$ symbols in a math expression.

Please see the screenshot (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``):

![Screen Shot 2021-02-11 at 4 42 29 am](https://user-images.githubusercontent.com/53931041/107549537-0ac16100-6c24-11eb-90ed

[2021-02-10 17:53] shlff opened #90 "[jupyterbook-latex] no section numbers in the contents"
Hi @AakashGfude and @mmcky , I also noticed that
- there are no section numbers in the contents.

For example, please see the following screenshot (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``):
![Screen Shot 2021-02-11 at 4 50 16 am](https://user-images.githubusercontent.com/53931041/107550314-fc277980-6c24-11eb-8646-030af5565780.png)

[2021-02-10 19:01] shlff opened #91 "[jupyterbook-latex] [lqcontrol]"
Hi @AakashGfude and @mmcky , in lecture [lqcontrol](https://python.quantecon.org/lqcontrol.html),
- there is an inserted figure located in a different place from its contexts.

Please see the screenshot (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``):

![Screen Shot 2021-02-11 at 4 58 01 am](https://user-images.githubusercontent.com/53931041/107557522-d652a280-6c2d-11eb-963e-4

[2021-02-10 19:09] shlff opened #92 "[jupyterbook-latex] [lq_inventories] letters shown mistakenly in python-cell"
Hi @AakashGfude and @mmcky , I also find that in lecture [lq_inventories](https://python.quantecon.org/lq_inventories.html),
-  some letters are shown mistakenly in python-cells.

Please see the screenshot (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``):

![Screen Shot 2021-02-11 at 6 08 36 am](https://user-images.githubusercontent.com/53931041/107559048-a99f8a80-6c2f-11eb-830

[2021-02-10 19:14] shlff opened #93 "[jupyterbook-latex] [lake_model] a broken internal link"
Hi @AakashGfude and @mmcky , there is a broken link in lecture [lake_model](https://python.quantecon.org/lake_model.html) of PDFs generated by ``myst``.

Please see the screenshot (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``):

![Screen Shot 2021-02-11 at 6 13 59 am](https://user-images.githubusercontent.com/53931041/107559553-5a0d8e80-6c30-11eb-84d3-edd0fc6fabba.png)

[2021-02-10 19:19] shlff opened #94 "[jupyterbook-latex] a mistakenly-compiling latex for $\mathbb 1$"
Hi @AakashGfude and @mmcky , I find that all $\mathbb 1$s are mistakenly compiled by latex.

For example, in lecture [lqcontrol](https://python.quantecon.org/lqcontrol.html), please see the screenshot (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``):

![Screen Shot 2021-02-11 at 6 18 55 am](https://user-images.githubusercontent.com/53931041/107560155-1cf5cc00-6c31-11eb-8326-b9e

[2021-02-10 21:29] shlff opened #95 "[jupyterbook-latex] [re_with_feedback] problematic math outputs generated by code"
Hi @AakashGfude and @mmcky , I find that in lecture [re_with_feedback](https://python.quantecon.org/re_with_feedback.html),
- some outputs (especially numbers) generated by code look a bit weird,
- some outputs (especially math expressions) are mistakenly printed.

Please see the screenshot of strange number outputs (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``):

![Screen Sh

[2021-02-10 21:45] shlff opened #96 "[jupyterbook-latex] [markov_perf] [pandas_panel] many python outputs are missing"
Hi @AakashGfude and @mmcky , I find that
- in lecture [markov_perf](https://python.quantecon.org/markov_perf.html), almost all python outputs are missing. For example, please see the following screenshot (left: PDFs generated by ``rst``, right: PDFs generated by ``myst``)

![Screen Shot 2021-02-11 at 8 41 02 am](https://user-images.githubusercontent.com/53931041/107576346-1c673080-6c45-11eb-9f03-3

[2021-02-10 21:59] shlff opened #97 "[jupyterbook-latex] [ols] error message in two python cells"
Hi @AakashGfude and @mmcky , I find that in the myst-PDF lecture [ols](https://quantecon.github.io/lecture-python.myst/ols.html),
- there are two python code cells with error messages, while their website versions do not have such error messages.

For example, please see the screenshot (left: webpages generated by ``myst``, right: PDFs generated by ``myst``):

![Screen Shot 2021-02-11 at 8 58 50 a

[2021-02-10 22:04] shlff opened #98 "[jupyterbook-latex] mistakenly treat "Troubleshooting" and "Reference" as chapter 58 and chapter 59"
Hi @AakashGfude and @mmcky , I find that in the PDFs of myst-version lectures, we mistakenly treat "Troubleshooting" and "Reference" as chapter 58 and chapter 59, respectively.

Please see the screenshot:
![Screen Shot 2021-02-11 at 9 03 48 am](https://user-images.githubusercontent.com/53931041/107578640-1a52a100-6c48-11eb-9a52-0551421c6cdb.png)

and

![Screen Shot 2021-02-11 at 9 04 01 am](https:

[2021-02-10 22:06] shlff opened #99 "[jupyterbook-latex] some blank pages"
Hi @AakashGfude and @mmcky , I find that there are some blank pages (for example the following one). I am not so sure that they are necessary here and would love to hear your comments.

![Screen Shot 2021-02-11 at 9 05 05 am](https://user-images.githubusercontent.com/53931041/107578887-6ef61c00-6c48-11eb-8ac7-f1f373154ce9.png)

[2021-02-11 02:08] mmcky commented on #57
thanks @shlff -- it would be great if you could setup PR's on `lecture-python.myst` that removes the `only` directives with unified syntax (i.e. markdown) and then add the tag `manual-change`.

[2021-02-11 02:10] mmcky commented on #64
@shlff when I look at `rst` and `md` the link is without the `%` so I agree this must be coming from `sphinx-tojupyter`.

[2021-02-11 02:26] mmcky commented on #39
thanks @sayaikegawa this is now fixed by: https://github.com/QuantEcon/lecture-python/pull/367

[2021-02-11 02:26] #39 closed

[2021-02-12 02:51] #12 closed

[2021-02-12 02:52] mmcky commented on #13
all items underway and tracked elsewhere

[2021-02-12 02:52] #13 closed

[2021-02-12 02:54] mmcky commented on #19
Closing this as I don't think this needs to be tracked. If we want to incorporate into the theme - we can do so later on.

[2021-02-12 02:54] #19 closed

[2021-02-12 04:38] mmcky commented on #87
thanks @shlff that is largely stylistic and something we can add it as an improvement later on.

[2021-02-12 05:03] mmcky opened #102 "Revert changes to `align` on `main` branch"
@AakashGfude I think we need to revert https://github.com/QuantEcon/lecture-python.myst/commit/6a2d1e07695159b4954ca3041ee52cb1d695d5b9 (and any associated commits) and update these in the `rst` source files.

`align` -> `aligned` (as aligned is not a equation environment and can be inside `equation`)

https://quantecon.github.io/QuantEcon.manual/writing/styleguide.html#mathematical-notation

[2021-02-12 05:03] mmcky commented on #102
- [ ] coordinate a search for `\begin{align}` on lecture-python and setup a PR to update the sources

[2021-02-12 08:32] DrDrij commented on #37
Since we have a sticky toolbar we need to add padding at the top, but this padding also needs to exist for skip anchor links in the content.

Tried all the following without luck: https://css-tricks.com/hash-tag-links-padding/

@mmcky I've added a solution which works cleanly in chrome and firefox for now.
https://github.com/QuantEcon/quantecon-book-theme/commit/4ac9e170e2c309e9c9e23757fe40d7ec31a

[2021-02-12 08:34] DrDrij commented on #49
Changed the font of the `.math` css class to use font size unit relative to it's parent.
This should mean inline Math equations should now be relative to the text surrounding them.
https://github.com/QuantEcon/quantecon-book-theme/commit/b8aa4c843a21300229e41acb53bff7c1a2c067f2
@mmcky Tested Ok (https://60263686dc45de7dbd694187--hungry-lovelace-7d0512.netlify.app/numba.html#exercise-2). Close afte

[2021-02-12 08:34] DrDrij commented on #18
Known issue, many solutions but only this one worked for me: https://github.com/mathjax/MathJax/issues/1979#issuecomment-424938737
https://github.com/QuantEcon/quantecon-book-theme/commit/dda22267a76f63066acca3d42353bbd7eedee840
@mmcky Tested Ok, close once published :)

[2021-02-15 01:11] mmcky commented on #49
thanks @DrDrij

[2021-02-15 01:11] #49 closed

[2021-02-15 01:12] mmcky commented on #18
thanks @DrDrij

[2021-02-15 01:12] #18 closed

[2021-02-15 01:12] mmcky commented on #37
Thanks @DrDrij given this is an issue in `safari` I will transfer this issue to `quantecon-book-theme` for tracking

[2021-02-15 03:50] mmcky commented on #88
@AakashGfude the fact this is missing in `both` suggests the image might be an unsupported format for latex?

[2021-02-15 03:51] mmcky commented on #89
@shlff can you test your fix for this and let me know if that works. You linked elsewhere some syntax issue with using `>` for all the `math` lines.

[2021-02-15 03:52] mmcky commented on #90
@jstac this is a style issue really. I actually prefer the local `contents` listing to be without the numbers (and just links). What do you think?

[2021-02-15 03:55] mmcky commented on #91
@shlff maybe in this case we should update our `latex figure` placement rules

https://www.sphinx-doc.org/en/master/latex.html

[code]

maybe we should switch on `H` in this case (in `_config.yml)  so they are always in place.

[2021-02-15 03:56] mmcky commented on #92
@AakashGfude I suspect these characters are all in `code output` cells?

[2021-02-15 03:56] mmcky commented on #93
@shlff can you post the `rst` and `markdown` to see where the issue is for this.

[2021-02-15 03:59] mmcky commented on #95
thanks @shlff this does need improvement.

the second case with misaligned outputs is concerning. So I have tagged this as `high-priority` for review

[2021-02-15 04:00] mmcky commented on #96
@shlff I suspect this is missing output due to support for `code-from-files` not being mainlined yet in `myst_nb`. So let's review this on the attached which is the latest build of the pdf from `fix-codefromfile` branch of this repo.

[Uploading python.pdf…]()

[2021-02-15 04:02] mmcky commented on #97
This is fixed on the latest `pdf` built using `fix-codefromfile` branch.

[python.pdf](https://github.com/QuantEcon/lecture-python.myst/files/5979422/python.pdf)

[2021-02-15 04:03] mmcky commented on #98
@AakashGfude I don't see a way to add non-numbered chapters at the moment but would be nice feature to have in the future.

[2021-02-15 04:04] mmcky commented on #99
I suspect the `bibliography` directive should just be contained in that `zreferences.md` file without a title perhaps?

[2021-02-15 05:08] mmcky commented on #38
@shlff what do you think about this: https://602a010c1e69bd5db7839bc0--nostalgic-wright-5fa355.netlify.app/re_with_feedback.html#fun-with-sympy-code

[2021-02-15 05:38] shlff commented on #38
Thanks @mmcky. I checked all math expressions in this lecture and they look much better now except that the following one still look a bit different (left: ``myst``; right: ``rst``)

![Screen Shot 2021-02-15 at 4 36 17 pm](https://user-images.githubusercontent.com/53931041/107909401-39389680-6fac-11eb-9270-2254d710b060.png)

[2021-02-15 05:56] #102 closed

[2021-02-15 06:05] #38 closed

[2021-02-15 06:15] mmcky commented on #50
https://github.com/QuantEcon/lecture-python/pull/371 fixes this issue

[2021-02-15 06:19] #50 closed

[2021-02-15 09:16] shlff commented on #96
Thanks @mmcky . Now I can confirm that all those missing python outputs are back in the latest PDF build you attached in the above comment.

[2021-02-15 11:54] shlff commented on #93
Sure, @mmcky . Please see (left: ``rst``, right: ``myst``):

![Screen Shot 2021-02-15 at 10 53 21 pm](https://user-images.githubusercontent.com/53931041/107943407-c564b100-6fe0-11eb-8b22-3a4605ecf2b1.png)

[2021-02-15 12:50] AakashGfude commented on #88
@mmcky @shlff seems to be coming up in the latest build. probably was fixed by one of the merged PRs ?

<img width="915" alt="Screen Shot 2021-02-15 at 11 47 09 pm" src="https://user-images.githubusercontent.com/6542997/107948547-1fb54000-6fe8-11eb-9f8b-91a38ac82afa.png">

[python.pdf](https://github.com/QuantEcon/lecture-python.myst/files/5981581/python.pdf)

[2021-02-15 21:13] shlff commented on #90
@mmcky , I also prefer the ``content`` listing without the numbers, or at least the numbers to be the front of each item.

[2021-02-16 00:14] mmcky commented on #96
thanks @shlff

[2021-02-16 00:14] #96 closed

[2021-02-16 00:25] mmcky commented on #93
ah ha -- thanks @shlff it looks like the `role` isn't parsed correctly due to being over two lines.

[2021-02-16 00:29] AakashGfude commented on #88
Will close this issue. As it seems to be resolved.

[2021-02-16 00:29] #88 closed

[2021-02-16 00:48] AakashGfude commented on #92
@mmcky also in `code input` cells. Any code cell. in the above case, the character not rendered is 𝜈.

[2021-02-16 00:58] AakashGfude commented on #94
\mathbb has been handled now, and is in the latest `jupyterbook_latex`

<img width="910" alt="Screen Shot 2021-02-16 at 11 55 17 am" src="https://user-images.githubusercontent.com/6542997/108005807-d7c90400-704d-11eb-9140-4ec832363d88.png">

[2021-02-16 00:58] #94 closed

[2021-02-16 01:10] mmcky commented on #93
thanks @shlff I have fixed this in the source `rst` directory.

[2021-02-16 01:10] #93 closed

[2021-02-16 03:23] mmcky commented on #48
Closing this as a `solution` is ready as a PR.

[2021-02-16 03:23] #48 closed

[2021-02-16 04:49] mmcky commented on #57
thanks @shlff closing this as the PR is capturing this change.

[2021-02-16 04:49] #57 closed

[2021-02-16 04:49] mmcky commented on #60
thanks @shlff closing this as PR #100 captures this change

[2021-02-16 04:49] #60 closed

[2021-02-16 05:01] mmcky commented on #64
@shlff I can't seem to replicate this issue

https://602b1025e4ec29b32759bff3--nostalgic-wright-5fa355.netlify.app/likelihood_ratio_process.html

and downloaded the `notebook` from there which should be generated by `sphinx_tojupyter`.

[2021-02-16 05:04] mmcky commented on #89
Saya reported a fix for this issue in #105

[2021-02-16 05:04] #89 closed

[2021-02-16 05:07] mmcky commented on #95
@AakashGfude in d6fb77c I have updated the priority for pure `latex` output which may help this issue.

[2021-02-18 03:52] mmcky commented on #95
@AakashGfude When you get a chance would you mind to regenerate the `pdf` after the last iteration on https://github.com/executablebooks/jupyter-book/pull/1167 to see if this is fixed from the `reordering`

[2021-02-19 01:31] shlff commented on #64
Thanks @mmcky . Do you want me to manually fix the link issue in repo ``lecture-python.myst``?

[2021-02-19 01:35] mmcky commented on #64
@shlff in the latest build this link doesn't appear broken to me. Not sure it needs fixing. Can you check?

[2021-02-19 01:39] shlff commented on #64
Thanks @mmcky , the link in the latest build or in the ``myst`` file mentioned above is:
- https://en.wikipedia.org/wiki/Neyman%E2%80%93Pearson_lemma

which **works** but just differs from the link in the original ``rst`` file:
- https://en.wikipedia.org/wiki/Neyman–Pearson_lemma

[2021-02-19 01:41] mmcky commented on #64
oh that is ok -- it it `works` that is fine. `sphinx` is probably doing some changes to remove `-` into general `url` character syntax.

[2021-02-19 01:41] #64 closed

[2021-02-25 02:12] mmcky commented on #22
Closing this as tracked in https://github.com/QuantEcon/quantecon-book-theme/issues/83

[2021-02-25 02:12] #22 closed

[2021-02-25 02:31] mmcky commented on #66
@AakashGfude just trying to replicate the `tag` numbering that must be done by `sphinx-multitoc-numbering`.

Can you point me to where these values for `refid` are constructed. Are they part of a transform and you generate these nested numbers?

[code]

[2021-02-25 02:32] mmcky commented on #66
Just wondering where I might be able to get the `chapter` or value `9` in the above example from in the `sphinx` configuration

[2021-02-26 00:20] mmcky commented on #90
I think links without numbers is better so let's close this.

[2021-02-26 00:20] #90 closed

[2021-02-26 10:39] mmcky commented on #66
@shlff this build in PR #43 should be using the latest `sphinx-tojupyter`.

https://6038cc9d13761dc1d83bf515--nostalgic-wright-5fa355.netlify.app/intro.html

Can you check this issue and close it if resolved?

[2021-02-26 10:40] mmcky commented on #65
@shlff this build in PR #43 should be using the latest sphinx-tojupyter.

https://6038cc9d13761dc1d83bf515--nostalgic-wright-5fa355.netlify.app/intro.html

Can you check this issue and close it if resolved?

[2021-03-01 04:33] AakashGfude opened #106 "[re_with_feedback] html and pdf output for long math outputs"
This issue is also present in the `non-myst` version of the book.

In `re_with_feedback` lecture. The maths output for eigenvectors in huge, and extends beyond the page for HTML:

<img width="1318" alt="Screen Shot 2021-03-01 at 3 31 28 pm" src="https://user-images.githubusercontent.com/6542997/109452145-34dba580-7aa3-11eb-9431-1f851b7d7846.png">

and gets clipped off in latex (with jupyterbook-la

[2021-03-01 04:38] AakashGfude commented on #95
Thanks @mmcky , using your PR in `myst-nb` https://github.com/executablebooks/MyST-NB/pull/305, the output seems to be rendering nicely.

<img width="565" alt="Screen Shot 2021-03-01 at 3 34 48 pm" src="https://user-images.githubusercontent.com/6542997/109452353-aae00c80-7aa3-11eb-9aa2-342641ff39c8.png">
<img width="533" alt="Screen Shot 2021-03-01 at 3 36 00 pm" src="https://user-images.githubuse

[2021-03-02 03:22] shlff commented on #65
Thanks @mmcky . This internal link is still not working.

[2021-03-04 23:02] mmcky opened #107 "[downloadnb] Enable sync to lecture-python.notebooks"
Enable this auto-sync as part of the `live` process

[2021-03-10 02:34] mmcky opened #112 "[Binder] Optimise Environment to Improve Load Times"
Optimise `environment.yml` to improve load times.

[2021-03-10 23:55] shlff commented on #66
Great thanks for your hard-working @mmcky and @AakashGfude .

I can confirm that this issue has been solved and will close this issue.

[2021-03-10 23:55] #66 closed

[2021-03-10 23:57] shlff commented on #65
Thanks @mmcky . I can confirm that this issue has been solved now.

[2021-03-10 23:57] #65 closed

[2021-03-11 00:05] shlff commented on #63
Thanks @mmcky . This issue has not have been solved yet and please see the following screenshot of the notebook downloaded from the site.

![Uploading Screen Shot 2021-03-11 at 11.05.28 am.png…]()

[2021-03-11 00:08] shlff commented on #61
Thanks @mmcky . I checked that this issue has been solved.

![Screen Shot 2021-03-11 at 11 07 42 am](https://user-images.githubusercontent.com/53931041/110715798-0788b780-825a-11eb-8929-a5136a80429b.png)

[2021-03-11 00:08] #61 closed

[2021-03-11 00:10] shlff commented on #54
Thanks @mmcky , this issue has not been solved yet and please see the screenshot of the notebook for lecture ``04_linear_algebra`` downloaded from the site:

![Screen Shot 2021-03-11 at 11 10 33 am](https://user-images.githubusercontent.com/53931041/110716010-6ea66c00-825a-11eb-90ca-df1216b2c5b1.png)

[2021-03-11 00:11] shlff commented on #53
Thanks @mmcky . This issue has not been solved yet.

[2021-03-11 00:12] shlff commented on #51
@mmcky , this issue has not been solved yet.

[2021-03-11 00:18] shlff commented on #21
Thanks @mmcky and @DrDrij . I can confirm that this issue has been solved.

![Screen Shot 2021-03-11 at 11 17 59 am](https://user-images.githubusercontent.com/53931041/110716546-7fa3ad00-825b-11eb-8540-e7910d73f201.png)

![Screen Shot 2021-03-11 at 11 18 14 am](https://user-images.githubusercontent.com/53931041/110716554-83cfca80-825b-11eb-8fe7-0b172fe4b260.png)

[2021-03-11 00:18] #21 closed

[2021-03-11 00:20] shlff commented on #20
Thanks @mmcky . I checked that this issue has not been solved yet.

![Uploading Screen Shot 2021-03-11 at 11.20.06 am.png…]()

[2021-03-11 03:11] shlff commented on #97
Thanks @mmcky . I checked the pdf you attached and this issue should have been solved using ``fix-codefromfile`` branch.

I will close this issue.

[2021-03-11 23:55] mmcky commented on #20
thanks @shlff -- I have current focused on `high priority` tags. We will focus on this as an improvement.

[2021-03-12 03:45] AakashGfude commented on #97
@shlff actually still getting this error, from the latest code and environment. But the same error is there in HTML as well, so I think it has to do with the code and packages itself, rather then `jupyterbook-latex`.

[2021-03-12 22:48] shlff commented on #97
Thanks @AakashGfude . I will check the code and packages again and discuss them with you soon.

[2021-03-15 23:24] mmcky opened #115 "Implement tagged releases for publishing GH-PAGES"
We should implement `tagged` triggered releases for publishing via GitHub Pages.

This leaves the `master` branch in a state that can be edited and modified and leaves open the automatic publishing option via tags in addition to the manual option via `ghp-import`

[2021-03-19 00:09] mmcky commented on #115
This is done with a tag for `publish-<date>`

[2021-03-19 00:09] #115 closed

[2021-03-19 00:12] mmcky opened #117 "BUG: Inline math collides with adjacent text"
@DrDrij @AakashGfude There are cases of `inline` text colliding with adjacent text. Perhaps this can be fixed with more padding around `inline` math in `quantecon-book-theme` (or a different issue?)

https://quantecon.github.io/lecture-python.myst/ge_arrow.html#preferences-and-endowments

This is `high-priority` as I'd like to fix it before we `switch` to the `live` site.

[2021-03-19 00:42] mmcky commented on #117
This may actually be another `safari` issue as `chrome` on @jstac machine looks good.

[2021-03-29 04:14] DrDrij commented on #117
@mmcky Could you please attach a screenshot? Tested in Safari on my machine:

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/5886045/112786193-6f842e00-90a1-11eb-977e-89a0d27c3c63.png">

[2021-03-29 04:32] AakashGfude commented on #117
@DrDrij I think its that small overlap of
<img width="174" alt="Screen Shot 2021-03-29 at 3 30 29 pm" src="https://user-images.githubusercontent.com/6542997/112787171-b2470580-90a3-11eb-9a73-afb143db3bf6.png">

I investigated and it felt like a mathjax issue in rendering. It would if you can verify this once. If it is the case, then we can open an issue in mahjax?

[2021-03-31 01:50] mmcky commented on #117
It's mainly associated with `superscipts` and `subscripts` colliding with text
<img width="1011" alt="Screen Shot 2021-03-31 at 12 49 59 pm" src="https://user-images.githubusercontent.com/8263752/113078850-a7b17b00-921f-11eb-8fd5-c6284ab18d8a.png">

This is from `linear_models`

[2021-04-04 03:02] DrDrij commented on #117
Thanks guys. Working on a solution here, [PR](https://github.com/QuantEcon/quantecon-book-theme/pull/96)

[2021-04-07 03:54] mmcky opened #121 "[LIVE] Migration Plan"
These tasks should be done in order:

- [x] setup `https://rst-python.quantecon.org` to point to the current `s3` bucket serving the rst version (@DrDrij)
- [x] check `https://rst-python.quantecon.org` works for access to RST site
- [x] Switch `python.quantecon.org` to point to `gh-pages` hosting
- [x] merge in https://github.com/QuantEcon/lecture-python.myst/pull/118 to set the `CNAME` when publi

[2021-04-07 04:41] mmcky commented on #26
I think https://github.com/QuantEcon/lecture-python.myst/pull/108 addresses this issue

[2021-04-07 04:41] #26 closed

[2021-04-07 04:41] mmcky commented on #44
I think we now have separate issues documenting the issues found so I will close this.

[2021-04-07 04:41] #44 closed

[2021-04-07 07:16] mmcky commented on #121
- [ ] @DrDrij revert `preview.python.quantecon.org` to point back to the `preview` s3 bucket

[2021-04-07 07:28] mmcky commented on #121
- [ ] @mmcky why can't we set `beta.python.quantecon.org` as in Route53 it is pointing towards `quantecon.github.io`

[2021-04-07 11:51] mmcky commented on #121
@DrDrij the `python.quantecon.org` CNAME record issue has been resolved thanks to amazing `github support` response.

[2021-04-08 06:24] mmcky commented on #121
`RST` settings for `python.quantecon.org`

d6mtww49nma8j.cloudfront.net

A AAAA

[2021-04-20 19:15] jhilto opened #134 "Text not compatible with contrast toggle."
Changing to the dark theme using the "change contrast" button on the toolbar renders elements of the text unreadable. Compare these two screenshots from Lecture 28. The equations disappear and the code become less contrasted.

<img width="829" alt="Screen Shot 2021-04-20 at 3 12 08 PM" src="https://user-images.githubusercontent.com/25337478/115451346-12385400-a1eb-11eb-8839-52e274c73627.png">
<img

[2021-05-10 00:31] shlff opened #139 "[finite_markov] pdf to tikz"
Dear @jstac , I noticed that the digraphs shown in lecture [finite_markov](https://python.quantecon.org/finite_markov.html#irreducibility-and-aperiodicity) are presented using PDF figures.
![Screen Shot 2021-05-10 at 10 30 05 am](https://user-images.githubusercontent.com/53931041/117592132-cee25d00-b17a-11eb-93da-56dec19ae5dc.png)

Do you think it would be a good idea to convert them into tikz fig

[2021-05-12 08:01] jstac commented on #139
Hi @shlff , does tikz work well in Jupyter book?

I prefer tikz but I don't want to complicate things too much.

Thanks for thinking of this.

[2021-06-01 05:23] mmcky opened #144 "[windows] Seems to be a unicode issue when compiling on Windows"
There appears to be a `unicode` issue when building these lectures on the `windows` plaform,

[cake_eating_numerical.log](https://github.com/QuantEcon/lecture-python.myst/files/6573554/cake_eating_numerical.log)
[coleman_policy_iter.log](https://github.com/QuantEcon/lecture-python.myst/files/6573555/coleman_policy_iter.log)
[egm_policy_iter.log](https://github.com/QuantEcon/lecture-python.myst/fil

[2021-06-28 13:33] oyamad opened #160 "[short_path] Missing figures"
Figures are not displayed in https://python.quantecon.org/short_path.html

See for example this link: https://python.quantecon.org/_static/lecture_specific/short_path/graph.png

[2021-06-28 22:46] jstac commented on #160
Thanks @oyamad !

@mmcky Could you please prioritize fixing this?

[2021-06-28 23:21] mmcky commented on #160
thanks @oyamad for reporting this.

@AakashGfude for some reason the `gh-pages` version of `_images` has some empty `png` files? Does `sphinx` resize these images as they get migrated to `_images` folder. The local build seems OK (with images) showing for this lecture so I might need to do a `local` sync for gh-pages until we understand why this is happening.

[2021-06-29 00:06] mmcky commented on #160
@oyamad @jstac I have uploaded a manual build.

For some reason the `build` via `github actions` is writing `png` files that are empty (but the correct size). Perhaps this is something coming down from `sphinx`. We will investigate further -- but for now we will use `local builds` on all projects to publish updates to `gh-pages`

**Note:** these types of assets are cached by the browser so you wil

[2021-06-29 00:08] jstac commented on #160
Many thanks @mmcky .  Please let me know how your investigation goes.

[2021-06-29 00:26] oyamad commented on #160
Thanks @mmcky, figures are now displayed. Closing this issue.

Just a remark, as far as I checked, missing figures occurred only in Shortest Paths. For example, figures were already displayed in Schelling.

[2021-06-29 00:26] #160 closed

[2021-06-29 00:30] mmcky commented on #160
thanks @oyamad -- agree -- it appears to affecting just some select images.

[2021-06-29 00:30] mmcky commented on #160
@AakashGfude I am at least able to replicate this:

https://github.com/QuantEcon/lecture-python.myst/pull/161

[2021-06-29 03:03] mmcky commented on #160
@AakashGfude I think I figured this one out.

https://github.com/QuantEcon/lecture-python.myst/pull/162

[2021-07-05 13:36] oyamad opened #164 "[mccall_model] Minor wording issue"
In "[22.3.1. The Algorithm](https://python.quantecon.org/mccall_model.html#the-algorithm)", the last line:

This is not true with a positive tolerance.

Maybe something like,

"This algorithm terminates in finitely many steps, returning an approximation of the value function $v^*$ (up to the tolerance)"

is meant?

[2021-07-05 13:43] oyamad opened #165 "Use `np.full`?"
In several pieces of code, an array of a constant value is created by something like

[code]

This can be simplified with [`np.full`](https://numpy.org/doc/stable/reference/generated/numpy.full.html):

[code]

[2021-07-05 13:52] oyamad opened #166 "[short_path] `sum_costs` in `print_best_path`"
Computing `sum_costs` again in `print_best_path` is redundant: it has already been computed as `J[0]`.

If this is intentional, then a comment should be given, demonstrating that `sum_costs` is indeed equal to `J[0]`.

[2021-07-08 04:40] mmcky commented on #166
@shlff would you have time to review this and make a PR?

[2021-07-08 04:41] mmcky commented on #165
thanks @oyamad I am all for this.

@shlff would you have time to go through the lectures and make a PR?

[2021-07-08 04:43] mmcky commented on #139
@shlff this is a nice suggestion.

https://github.com/sphinx-contrib/tikz

will work in `jupyter-book` but we would need to add the extension to:

- `environment.yml`
- `lectures/_config.yml`

and this enforces the need for `LaTeX` to be installed (which our `CI` and `Publish` workflows have so that is 👍 )

[2021-07-08 04:45] mmcky commented on #134
thanks @jhilto -- sorry for the delay on this.

@AakashGfude @DrDrij would this be something we can look at in the theme?

[2021-07-08 04:46] mmcky commented on #134
actually @jhilto this has been fixed 🎉 in a previous theme updated

https://python.quantecon.org/cake_eating_problem.html

[2021-07-08 04:46] #134 closed

[2021-07-08 04:47] mmcky commented on #106
thanks @AakashGfude -- not sure how we can fix this one as they are outputs from `code-cells`.

[2021-07-08 04:48] #107 closed

[2021-07-08 04:48] #121 closed

[2021-07-09 03:45] jstac commented on #166
Many thanks for the report @oyamad .

I will handle this one @shlff .  (Thanks @mmcky )

[2021-07-09 03:47] jstac commented on #165
Thanks @oyamad , I didn't know about `np.full`.

 @shlff please go ahead when you have time.  In this and other lectures, you can search for `np.ones` and see if it's being used in the pattern that @oyamad mentioned (creation of a constant vector).

[2021-07-09 03:49] #117 closed

[2021-07-09 04:19] jstac commented on #166
This is a good point @oyamad .  Somehow I didn't think of it ;-)

I've adjusted the lecture accordingly.  Thanks again.

[2021-07-09 04:19] #166 closed

[2021-07-09 04:47] oyamad commented on #164
Fixed by c30ec0e181aa98169bc7966e06447c148f20d82e

[2021-07-09 04:47] #164 closed

[2021-07-09 05:53] shlff commented on #165
Thanks @jstac , @oyamad and @mmcky .

I went through all lectures in ``lecture-python.myst`` and find similar patterns in the following lectures:
- [career](https://python.quantecon.org/career.html): ``v = np.ones((cw.grid_size, cw.grid_size)) * 100``
- [geom_series](https://python.quantecon.org/geom_series.html): ``f_2 = np.ones(T_max+1)*infinite_lease(g, r, x_0)``
- [inventory_dynamics](https://

[2021-07-09 06:01] jstac commented on #165
Thanks @shlff .

A few of these do not fit the pattern @oyamad identified: using `np.ones` to create an array and then multiplying it by a constant to create a constant vector.

Can you please cut down this list to just those examples?

(Once we have a list fitting this pattern, we will change them all to use `np.full`, since dealing with this pattern is the purpose of that function.)

[2021-07-10 00:54] shlff commented on #165
Thanks @jstac . Please find the updated list above.

Looking forward to your comments.

[2021-07-10 04:59] jstac commented on #165
Thanks @shlff , good work.  That list is correct so please proceed.

[2021-07-10 11:08] shlff commented on #165
Thanks @jstac . In the next step I will create a PR to replace all patterns in that list with ``np.full``, suggested by @oyamad .

[2021-07-15 00:39] oyamad commented on #165
There are a few more:

* [ ] inventory_dynamics.md
* [ ] lake_model.md
* [ ] complex_and_trig.md
* [ ] multivariate_normal.md
* [ ] samuelson.md
  Use [np.full_like](https://numpy.org/doc/stable/reference/generated/numpy.full_like.html).
* [ ] [markov_asset.md](https://github.com/QuantEcon/lecture-python.myst/blame/6e7ff58935700e9ee8e514b8fffd4408ecfacbed/lectures/markov_asset.md#L926)

[code]

[2021-07-15 02:22] shlff commented on #165
Thanks @oyamad . I will check the pattern through the lectures you mentioned above and create another PR to modify it.

[2021-07-18 05:19] oyamad opened #169 "[lake_model] Comments"
* This part https://github.com/QuantEcon/lecture-python.myst/blame/main/lectures/lake_model.md#L260-L274 is not very wise (computing the stationary distribution of a 2-state (column-)stochastic matrix by iteration). As shown in the [Finite Markov Chains](https://python.quantecon.org/finite_markov.html#example) chapter, and to be discussed in the [current chapter](https://python.quantecon.org/lake_

[2021-07-18 18:30] #165 closed

[2021-07-19 09:25] jstac commented on #169
Thanks @oyamad .  I agree.  I'll fix this when I get some time.

[2021-07-26 00:19] oyamad opened #175 "BUG: Correct convergence conditions in function iteration"
See #171

This pattern, which is found in [several files](https://github.com/QuantEcon/lecture-python.myst/search?q=%22if+verbose+and+i+%3C+max_iter%22),

[code]

should be corrected to, e.g.,

[code]

[2021-07-26 00:40] oyamad opened #176 "BUG: Scope of index variable in `for` loop"
Bug found by @tetrapod54:

In [this block](https://github.com/QuantEcon/lecture-python.myst/blame/main/lectures/mccall_model.md#L485-L493), the variable `i` in `for i in range(n)` can be referred from outside of the `for` loop:

[code]

Try this:

[code]

You will get `4`.

The index variable for the `for` loop (or that for the `while` loop) has to be something other than `i`.

[2021-07-26 00:57] oyamad opened #177 "Open a file with `with`?"
A discussion from my undergrad seminar:

[Tutorial](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files) says:

Should this be followed in
* https://github.com/QuantEcon/lecture-python.myst/blob/main/lectures/short_path.md#exercise-1-1 and
* https://github.com/QuantEcon/lecture-python.myst/blob/main/lectures/finite_markov.md#exercise-2-1 ?

[2021-10-07 21:21] mmcky opened #182 "MAINT: Update publish.yml to use cache"
We can speed up `publish.yml` workflows by using the `cache` results that are updated everytime the `main` branch has a push.

[2021-10-07 21:25] mmcky commented on #177
thanks @oyamad this is good feedback.

Context managers are good in practice as they ensure `open` files are `closed` etc.

https://book.pythontips.com/en/latest/context_managers.html#context-managers

We do have `infile.close()` in that example as the file is built line-by-line.
But if the `python` tutorial says we should do -- maybe we should :-).

[2021-10-07 21:28] mmcky commented on #176
thanks @oyamad and @tetrapod54

@shlff would you have time to review and setup a PR to fix this?

[2021-11-15 08:24] mmcky opened #188 "BUG: Github Actions not rendering LaTeX (via matplotlib)"
The Github Actions environment can't find `latex` which must be an environment / path issue.

LaTeX is called by matplotlib to render the math for figures but latex can't be found.

[2021-11-16 00:35] #188 closed

[2022-02-08 22:39] mmcky opened #202 "Lecture Site not Fully Compatible with M1 (Apple)"
There are a couple of lectures that are not compatible with M1

- [ ] `back_prop` not compatible due to `jax`
- [ ] `opt_transport` not compatible due to `jax`

[2022-02-27 16:31] jxx87 opened #207 "A question about the lecture "Samuelson Multiplier Accelerator""
Hello,
In the lecture "Samuelson Multiplier Accelerator," a snippet of codes is copied below:

[code]
I wonder why:
[code]
Instead of:
[code]
Since my understanding is that when later using simulate(), x_0 first draws from N (μ_0, Σ_0). So shouldn't x_0 draws from N(μ_x, σ_x) instead of N(μ_y, σ_y)?

[2022-03-03 18:13] jstac opened #208 "Plot warnings in 1D dynamics lecture"
https://python.quantecon.org/scalar_dynam.html shows errors of the form

[code]

[2022-03-05 00:14] #207 closed

[2022-03-05 00:36] shizejin commented on #207
Hello,

Thank you very much for your spotting of this! You are correct, and we have fixed in a new PR #210, and there are some other changes that you could take a look if interested.

Thanks again!

[2022-03-11 05:01] jstac opened #212 "Error in Geometric series lecture?"
Thanks to Richard Rivero for this:

I’m not sure you have the right Taylor series for G^{T+1} about g=0, somewhere down the page.

https://python.quantecon.org/geom_series.html

I would think it would be more something like:

![image](https://user-images.githubusercontent.com/3887684/157805065-246e540c-5270-4b35-9753-257635c1b2a5.png)

[2022-03-17 02:00] mmcky opened #213 "[back_prop] Issue with jax>=0.3.2"
The release of `jax==0.3.2` last night has deprecated the `index_update` function.

https://github.com/google/jax/blob/main/CHANGELOG.md#jax-032-march-16-2022

The replacement syntax is to use

https://jax.readthedocs.io/en/latest/_autosummary/jax.numpy.ndarray.at.html

[2022-03-17 03:00] #213 closed

[2022-04-05 04:24] mmcky opened #221 "ENH: Migrate exercise and solutions to use sphinx-exercise"
The latest version of `sphinx-exercise` supports `code` through the use of gated directives

https://ebp-sphinx-exercise.readthedocs.io/en/latest/syntax.html#alternative-gated-syntax

so we can now migrate the lecture series to use this package for nice looking exercise and solution admonitions.

[2022-04-28 00:41] mmcky opened #225 "Update rand_rest and util_rand_rest In Text Equation References"
We need to update the internal references from `numbers` to the `jb` references such as:

[code]

When working in the notebook there are no cross-references link this supported so a lot of the time we need to migrate `\tag` to an equation reference and update the internal links.

[2022-06-15 00:06] shlff opened #233 "error in modeling covid19"
Hi @jstac and @mmcky , I noticed that ``(R)`` in the following text is not compiled properly:
<img width="713" alt="Screen Shot 2022-06-15 at 10 03 41 am" src="https://user-images.githubusercontent.com/53931041/173709347-27fee87c-21e3-41e8-b5a9-4abfa4676d33.png">

[2022-06-15 05:27] mmcky commented on #233
thanks @shlff any ideas on how to fix this?

`(R)` must be a markdown shortcut?

[2022-06-15 06:08] shlff commented on #233
Thanks @mmcky . How about putting them into latex marks? For example, "susceptible $(S)$, exposed $(E)$, infected $(I)$ and removed $(R)$."

[2022-06-22 02:15] mmcky opened #234 "Colab Compatibility"
For better compatibility with Google Colab we should

- [x] migrate back from `conda` to `pip` for installing additional packages
- [x] The `jupyter notebook` based `contents` links don't work on `google colab` pages

[2022-07-25 08:34] schwabts commented on #144
Not even finding instructions for build as e.g. [here](https://github.com/aquaULB/book_solving_pde_mooc)

[2022-08-02 23:50] mmcky commented on #221
Closing from #231

[2022-08-02 23:50] #221 closed

[2022-08-02 23:51] mmcky commented on #202
This is now working but you need home-brew to install some binaries

https://manual.quantecon.org/intro.html#the-quantecon-environment

[2022-08-02 23:51] #202 closed

[2022-08-02 23:51] mmcky commented on #182
fixed by 2850e5e54603cd1213feaa5b2d97e7cff6ab6354

[2022-08-02 23:51] #182 closed

[2022-08-02 23:53] mmcky commented on #95
@AakashGfude can you review this -- is this still an issue?

[2022-08-02 23:53] mmcky commented on #92
@AakashGfude is this still an issue?

[2022-08-03 05:30] AakashGfude commented on #95
hi @mmcky looks like it is still an issue. From what I saw on the website. Probably because the PR https://github.com/executablebooks/MyST-NB/pull/305 wasn't merged?

[2022-08-04 09:01] Okroshiashvili opened #246 "Missing arguments in McCall with Fitted Value Function Iteration"
The **McCallModelContinuous** class constructor is missing μ and σ if we want to control distribution of wages inside the class. If we don't want that, then inside **update** method μ and σ are redundant and removing them will make code runnable and will not throw exception.

[Here is the lecture link](https://github.com/QuantEcon/lecture-python.myst/blob/main/lectures/mccall_fitted_vfi.md)

[2022-08-06 21:51] jstac commented on #246
@Okroshiashvili Many thanks for pointing that out.   @shlff, do you have time to review this and fix as necessary?

[2022-08-07 05:58] shlff commented on #246
Sure thanks @jstac and @Okroshiashvili . I've had a look at the code, and I agree with @Okroshiashvili .

Here is a PR that fixes the code without affecting the results of current remaining code.

[2022-08-07 06:48] jstac commented on #246
Fixed in #248

[2022-08-07 06:48] #246 closed

[2022-08-19 20:51] jstac opened #252 "AR1 Bayes lecture comments"
@thomassargent30 @smit-create, I really enjoyed reading the lecture https://python.quantecon.org/ar1_bayes.html

Some minor suggestions:

It is not clear from reading the lecture why we are using both pymc and numpyro.   Is it because they give different insights or because we want to show how to use both libraries?  Some guidance for the reader would be helpful.

It would help the reader if there

[2022-08-20 05:51] Smit-create commented on #252
Hi @jstac
Thanks for opening up this issue. I'll try to go through the lecture once and modify it according to your suggestions.

Taking a very high-level look at the lecture, it seems that we are trying to show how to use two different libraries to solve the same problem (not sure).

[2022-08-20 20:00] jstac commented on #252
Thanks @Smit-create .  @thomassargent30 let me know that he plans to address these comments

[2022-08-22 00:53] #95 closed

[2022-08-22 23:51] mmcky commented on #92
@AakashGfude can you confirm this was fixed by #247

[2022-08-27 05:23] Smit-create commented on #212
Yeah, we can verify that using `sympy`:
[code]

[2022-08-28 19:37] #212 closed

[2022-09-01 18:54] #175 closed

[2022-09-01 18:54] #176 closed

[2022-09-05 15:44] schwabts opened #257 "Unable to create conda environment"
using `https://github.com/QuantEcon/lecture-python.myst/blob/main/environment.yml`
* Well, the message is clear but why would I want to install MS's C++ compiler in order to create the Anaconda environment?
* Is there a work around this requirement?

I'm mainly asking in order to eventually build my fork with GitLab CI but I still don't even manage to build the project locally.

I was running the

[2022-09-06 03:24] mmcky commented on #257
hi @schwabts you may need a c++ compiler due to https://github.com/QuantEcon/lecture-python.myst/blob/411cd08cf14e62e191be88b6fdd658257bff88c1/environment.yml#L21 as it is largely a python interface to connects down into `c` libraries.

[2022-09-06 03:25] mmcky commented on #257
I am not sure what the gitlab syntax is for their CI but it is probably a bit different to GitHub's

[2022-09-06 03:26] mmcky commented on #257
If you are running on Windows I would recommend looking at `wsl2` as that will provide you with a full `ubuntu` kernel and a very useful programming stack. The windows platform should work - but some packages are different in that context and the best compatibility is with `linux` or `OS X`

[2022-09-06 08:51] schwabts commented on #257
Thank you very much @mmcky for your explanations. Focusing on contents I failed to get involved deeper with technical issues and will probably reach my goals quicker by moving to another project.
Nonetheless, I like this project very much and still hope to get the pipeline running on GitLab a little later!

[2022-09-19 20:35] jstac opened #260 "Consider implementing the modification of HPI by Pontus Rendahl"
See https://www.sciencedirect.com/science/article/pii/S0165188922002263

[2022-09-19 21:03] jstac commented on #260
Code is here: https://sites.google.com/site/pontusrendahl/Research

[2022-09-19 21:12] jstac commented on #260
This could be fun to implement while @Smit-create is visiting (CC @thomassargent30)

[2022-09-23 01:30] mmcky opened #261 "FIX: Broken Links and Redirects"
@HumphreyYang would you mind working your way through these and setup a PR when you have time

Not sure how to solve the acemoglu link issue.

[code]

[2022-09-23 06:35] HumphreyYang commented on #261
Hi @mmcky, I found MIT is still constructing the [new website](https://economics.mit.edu/people/faculty/daron-acemoglu/data-archive) for the data archive for Professor Daron Acemoglu. I can find a copy of the old website on the Wayback Machine. From the terms and conditions, I did not see anything preventing us from using the resource on the website. What is your opinion on including the Wayback m

[2022-09-26 01:30] mmcky commented on #261
hey @HumphreyYang thanks for digging into that. If that link is stable I see no reason not to update to that link but let's open an issue for tracking of the new website.

[2022-09-26 04:43] HumphreyYang opened #263 "Update Acemoglu Links"
The links below have been temporarily replaced by links in the [Wayback machine](https://web.archive.org/web/20220901063129/http://economics.mit.edu/faculty/acemoglu/data/ajr2001)

[code]

until [the new website](https://economics.mit.edu/people/faculty/daron-acemoglu/data-archive) for Professor Daron Acemoglu is fully deployed.

[2022-09-26 05:53] #261 closed

[2022-09-29 04:06] HumphreyYang opened #265 "Add A New Lecture on Fast Fixed Point Computation Using Gradient Methods"
Add a new lecture on fast fixed point computation using gradient methods based on https://github.com/QuantEcon/cbc_workshops/blob/main/day_2/solow_fixed_points.ipynb and potentially discuss the multidimensional newton's method for a multi-sector model.

[2022-10-01 03:31] HumphreyYang opened #266 "Update All Hints and Notes in Text with Hint and Note Admonitions"
This issue is set up to maintain the consistency of style across the lecture series.

[2022-10-01 04:23] #263 closed

[2022-10-07 06:02] ericvd-ucb commented on #78
Hey @Harveyt47 did this noteboook ever get made?  Looking for an empirical hostorical data Gini inequality notebook!

[2022-10-08 13:00] HumphreyYang commented on #266
Hi @mmcky,

I am working on this issue on [hint-note-admonitions](https://github.com/QuantEcon/lecture-python.myst/compare/main...hint-note-admonitions) branch, while I cannot see the deployment under the commits. Is there any changes that I need to be mindful of?

[2022-10-09 09:50] #266 closed

[2022-10-23 00:52] jstac commented on #78
Hi @ericvd-ucb , thanks for prompting us on this.  I'll be glad to hear about how your project pans out.

Somewhat connected: As part of this activity we ended up adding some functionality to QuantEcon related to inequality.  See https://quanteconpy.readthedocs.io/en/latest/tools/inequality.html.

@shlff and @natashawatkins, do you have anything that might be useful to @ericvd-ucb ?

[2022-10-23 03:06] HumphreyYang opened #270 "Move Solutions below the Corresponding Exercises"
This issue is set up to maintain the format consistency across the three lectures.

[2022-10-23 03:07] HumphreyYang commented on #270
- [] Move solutions
- [] Fix some obvious deprecations along the way.

[2022-10-23 03:55] HumphreyYang commented on #270
Hi @jstac and @mmcky,

It seems to me that the exercise for [lecture on bayesian and frequentist interpretation](https://python.quantecon.org/prob_meaning.html#pm_ex2) is a little bit messy. Would you like me to create a separate issue and PR to tidy things up a little?

Also, I think we could write our own hypothesis testing and coverage interval sections instead of embedding a video.

Please kin

[2022-10-23 22:48] jstac commented on #270
Hi Humphrey,

Yes, it would be good to break this long, multi-part exercise up into multiple questions with their own solutions.  All help is appreciated!

Regarding the vids, Tom Sargent wrote this lecture and I imagine he would like to keep those videos there (CC @thomassargent30).

[2022-10-25 00:59] jstac opened #272 "Potentially add a lecture on gradient decent"
Possibly illustrate with the function in https://python-programming.quantecon.org/matplotlib.html#d-plots

[2022-10-25 01:02] jstac commented on #265
Combine the above with https://github.com/QuantEcon/cbc_workshops/blob/main/day_4/equilib_nd.ipynb

[2022-11-01 05:36] #270 closed

[2022-11-01 21:47] jstac opened #273 "Better figures for linear state space lecture"
The figures showing multiple time paths in https://python.quantecon.org/linear_models.html could be further enhanced if we adopted the style in https://nathanielf.github.io/post/bayesian_structural_timeseries/

[2022-11-03 00:58] mmcky opened #275 "[ar1_bayes] Issue with PyMC"
Current `cache` run shows an issue with `SciPy`

[code]

@AakashGfude @HumphreyYang not sure how this is possible as the `environment` hasn't changed recently. Open to ideas?

[2022-11-03 06:13] AakashGfude opened #276 "[odu]: Missing sections"
The file odu.md references a section called 'Looking-Forward' and 'Take-1:-Solution-by-VFI':

[code]

[code]

But there is no such section.

[2022-11-04 00:09] mmcky commented on #275
@HumphreyYang I upgraded to use `anaconda=2022.10` which has just been released which fixed the `SciPy` issue but produced another issue in pymc.

[code]

@HumphreyYang would you be able to look into this and let me know if I need to pin pymc perhaps?

[2022-11-04 00:32] HumphreyYang commented on #275
Hi @mmcky,

I think we have an outdated `arviz` version in` environment.yml`: `arviz==0.12.1`. Maybe we should update it to `arviz>=0.13.0`

[2022-11-04 06:30] #275 closed

[2022-11-18 01:54] #276 closed

[2022-11-20 01:58] HumphreyYang opened #282 "Restucturing Exercise for Bayesian and Frequentist Interpretation"
Tidy up the [lecture on bayesian and frequentist interpretation](https://python.quantecon.org/prob_meaning.html#pm_ex2)

[2022-11-20 02:09] #282 closed